.title {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #222D32;
    justify-content: space-between;
}

.add-model{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(34, 45, 50);
    border-top: 1px solid rgb(34, 45, 50);
    padding: 5px;
    margin: 10px auto;
    flex-direction: row;

    &__form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    & input[type="file"]{
        display: none;
    }


    & label[for='modello']{
        width: fit-content;
        background-color: rgb(34, 45, 50);
        color: white;
        text-align: center;
        border-radius: 3px;
        padding: 5px 10px;

        &:hover{
            cursor: pointer;
            background-color: rgb(61, 75, 81);
        }
    }

    & input[type="submit"] {
        width: fit-content;
    }
}

.modelli{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    border-top: 1px solid rgb(34, 45, 50);
    padding: 5px;

    & li{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
}
