.nav{
    display: flex;
    background-color: #222D32;
    color: white;
    justify-content: space-between;
    padding: 20px;

    & a {
        color: white;
        width: fit-content;
        font-weight: bold;

        &.router-link-exact-active {
            text-decoration: underline;
            color: #42b983;
        }
    }

    & ul {
        display: flex;
        justify-content: space-evenly;
        width: fit-content;

        & li {
            padding: 5px;
            width: fit-content;
        }
    }
}