<template>
  <div class="editor">
    <div class="buttons">
      <button class="btn delete" @click="closeModeler">Close</button>
      <button class="btn" @click="onSave">Save</button>
      <button class="btn">Save as SVG</button>
    </div>
    <div
      class="modal__background"
      v-if="cardOpen || disclaimerOn"
      @click.prevent="onCardClose"
    ></div>
    <div class="card" v-if="disclaimerOn">
      <h3>Attenzione!</h3>
      <p>
      Update model content is a risky operation since some scenario might stop wotking.
      </p>
      <p>Use carefully.</p>
    </div>
    <div class="card" v-if="cardOpen">
      <label for="file-name">File name</label>
      <input
        type="text"
        name="file-name"
        id="file-name"
        :placeholder="fileNamePlaceHolder"
        v-model="fileName"
      />
      <div class="card__buttons">
        <button class="btn" @click="confirmSave">Confirm</button>
        <button class="btn delete" @click="onCardClose">Close</button>
      </div>
    </div>
    <div id="editor"></div>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import Modeler from "bpmn-js/lib/Modeler";
import { Modello } from "@/lib/BPSim/modello/modello";
import { mapActions } from "vuex";

// css impoort for editor
import "@/assets/diagram-js.css";
import "@/assets/bpmn-font/css/bpmn.css";

@Component({
  methods: mapActions(["closeModeler", "saveModel", "saveAsSVG"]),
})
export default class Editor extends Vue {
  modeler: Modeler | undefined = this.$store.getters["modeler"];
  fileName = "";
  cardOpen = false;

  disclaimerOn = false;

  /**
   * Attach the modeler in store to the mount point and set the actual model
   * to operate on
   */
  public mounted() {
    this.$store.commit("ATTACH_MODELER", "#editor");
    if (!this.$store.getters["newModel"]) {
      const modello: Modello | undefined = this.$store.getters["modelloGetter"];
      if (!modello) {
        console.error("Modello non trovato");
        return;
      }
      this.$store.commit("OPEN_MODEL", modello.xml);
      this.disclaimerOn = true;
      setTimeout(() => (this.disclaimerOn = false), 3000);
    } else {
      this.$store.commit("OPEN_MODEL");
    }
  }

  public onSave() {
    this.cardOpen = true;
  }

  public onCardClose() {
    this.cardOpen = false;
  }

  public confirmSave() {
    if (this.fileName !== "") {
      if (!this.fileName.endsWith(".bpmn")) {
        this.fileName += ".bpmn";
      }
      this.$store.dispatch("saveModel", this.fileName);
    } else this.$store.dispatch("saveModel");

    this.onCardClose();
  }

  get fileNamePlaceHolder(): string {
    return this.$store.getters["newModel"] ? "diagram.bpmn" : this.fileName;
  }
}
</script>

<style lang="scss" scoped>
#editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.buttons {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 6;
}

.card {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2em 3em;
  background-color: white;

  display: flex;
  flex-direction: column;

  &__buttons {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
  }
}

.modal__background {
  z-index: 10;
}
</style>
