<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import { cloneDeep, set } from "lodash";
import DurationPicker from "@/components/General/DurationPicker.vue";
import DatePicker from "vue2-datepicker";
import {
  NumericParameter,
  ConstantParameter,
  ParameterValue,
  ConstantParameters,
} from "@/lib/BPSim/Parameters/ParameterValue";
import { TimeUnit } from "@/lib/General/TimeUnit";

/**
 * Emette (input, ConstantParameter) quando:
 *  - Viene modificato ConstantParameter (@input)
 *  - Viene modificato TimeUnit (@change)
 */
@Component({
  components: {
    DurationPicker,
    DatePicker,
  },
})
export default class ConstantParameterVue extends Vue {
  // Tipo specifico di ConstantParameter
  @Prop({
    required: true,
  })
  type!: string;

  // ConstantParameter da editare
  @Prop({
    default: (): ConstantParameter => {
      return {
        value: "",
      };
    },
  })
  parameterValue!: ConstantParameter;

  // Data
  // TimeUnit del ConstantParameter
  timeUnit?: TimeUnit = TimeUnit.none;

  // Computed che restituisce un array di stringhe
  get timeUnits(): string[] {
    return Object.keys(TimeUnit);
  }

  /**
   * Metodo che si occupa di gestire l'input di value e l'emissione di un oggetto di tipo ConstantParameter
   */
  public onValueInput(): void {
    let constParam: ConstantParameter = cloneDeep(this.parameterValue);
    switch (this.type) {
      case ConstantParameters.NumericParameter:
        constParam = this.handleNumericParameter(
          this.parameterValue.value as number
        );
        break;

      case ConstantParameters.FloatingParameter:
        constParam = this.handleFloatingParameter(
          this.parameterValue.value as number
        );
        break;

      case ConstantParameters.DurationParameter:
      case ConstantParameters.DateTimeParameter:
        constParam = this.parameterValue.value
          ? { value: this.parameterValue.value }
          : { value: "" };
        break;

      case ConstantParameters.BooleanParameter:
        constParam = set(
          cloneDeep(this.parameterValue),
          "value",
          this.parameterValue.value as boolean
        );
        break;

      case ConstantParameters.StringParameter:
        constParam = set(
          cloneDeep(this.parameterValue),
          "value",
          this.parameterValue.value as string
        );
        break;

      default:
        console.error("Qualcosa è andato storto nella selezione del tipo!");
        break;
    }
    this.$emit("input", constParam);
  }

  public handleNumericParameter(value: number): ConstantParameter {
    value = Math.trunc(value);
    if (value > 0) {
      let numParam: NumericParameter;
      if (this.timeUnit) {
        numParam = {
          value: value as number,
          timeUnit: this.timeUnit,
        };
      } else {
        numParam = {
          value: value as number,
        };
      }
      return numParam;
    }
    return {
      value: "",
    };
  }

  public handleFloatingParameter(value: number): ConstantParameter {
    if (value > 0) {
      let numParam: NumericParameter;
      if (this.timeUnit) {
        numParam = {
          value: value as number,
          timeUnit: this.timeUnit,
        };
      } else {
        numParam = {
          value: value as number,
        };
      }
      return numParam;
    }
    return {
      value: "",
    };
  }

  public onTimeUnitChange(timeUnit: string): void {
    const index: number = this.timeUnits.indexOf(timeUnit);
    this.timeUnit = Object.values(TimeUnit)[index];
    this.$emit(
      "input",
      set(cloneDeep(this.parameterValue), "validFor", timeUnit)
    );
  }
}
</script>


<template>
  <div class="constant-parameter">
    <!-- Inizio possibili value -->
    <label for="value">Value</label>
    <input
      type="number"
      name="value"
      id="value"
      v-if="type === 'NumericParameter'"
      v-model.number="parameterValue.value"
      min="0"
      @input="onValueInput"
    />
    <input
      type="number"
      name="value"
      id="value"
      step="0.0001"
      min="0"
      v-else-if="type === 'FloatingParameter'"
      v-model.number="parameterValue.value"
      @input="onValueInput"
    />
    <DurationPicker
      v-else-if="type === 'DurationParameter'"
      v-model="parameterValue.value"
      @input="onValueInput"
    />
    <DatePicker
      v-else-if="type === 'DateTimeParameter'"
      v-model="parameterValue.value"
      @input="onValueInput"
      type="datetime"
      value-type="YYYY-MM-DD[T]HH:mm:ss[Z]"
    />
    <input
      type="checkbox"
      name="value"
      id="value"
      v-if="type === 'BooleanParameter'"
      v-model="parameterValue.value"
      @input="onValueInput"
    />
    <!-- Fine possibili value -->
    <!-- TimeUnit -->
    <label
      for="timeUnit"
      v-if="type === 'FloatingParameter' || type === 'NumericParameter'"
      >TimeUnit per questo parametro</label
    >
    <select
      v-if="type === 'FloatingParameter' || type === 'NumericParameter'"
      name="timeUnit"
      id="timeUnit"
      @change="onTimeUnitChange($event.target.value)"
    >
      <option v-for="timeUnit in timeUnits" :key="timeUnit" :value="timeUnit">
        {{ timeUnit }}
      </option>
    </select>
  </div>
</template>
