<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import _ from "lodash";
import ConstantParameterVue from "./ConstantParameter.vue";
import {
  ConstantParameter,
  ConstantParameters,
  EnumParameter
} from "@/lib/BPSim/Parameters/ParameterValue";

@Component({
  components: {
    ConstantParameterVue
  }
})
export default class EnumParameterVue extends Vue {
  /**
   * Props
   */

  // Lista dei valori finora generati
  @Prop({
    default: () => {
      return { values: [] };
    }
  })
  parameterValue!: ConstantParameter[];
  // Lista dei ConstantParameter permessi per il parametro che vuole ConstantParameter
  @Prop()
  constAllowed!: string[];

  /**
   * Data
   */

  showModal: boolean = false;
  constType: string = this.allowedValues[0];
  constantParameter: ConstantParameter = {
    value: ""
  };
  // Oggett oche verrà poi emesso
  enumParameter: EnumParameter = {
    values: []
  };

  /**
   * Computed
   */

  /**
   * ComputedProperty che controlla se sono stati passati dei tipi di ConstantParameter, altrimenti li mostra tutti
   */
  get allowedValues(): string[] {
    if (Array.isArray(this.constAllowed) && this.constAllowed.length > 0) {
      return this.constAllowed;
    } else {
      return Object.keys(ConstantParameters);
    }
  }

  /**
   * Methods
   */

  /**
   * Metodo che salva il valore del constant parameter nell'array e lo emette con input al componente padre
   * values.push...
   * $emit('input', ...)
   */
  salvaValore(): void {
    switch (this.constType) {
      case ConstantParameters.NumericParameter:
      case ConstantParameters.FloatingParameter:
      case ConstantParameters.DurationParameter:
      case ConstantParameters.DateTimeParameter:
      case ConstantParameters.StringParameter:
        if (this.constantParameter.value) {
          // Se il valore del ConstantParameter non è vuoto, lo puoi inserire nella lista dei valori
          this.enumParameter.values.push({
            type: this.constType,
            parameterValue: this.constantParameter
          })
        }
        break;
      case ConstantParameters.BooleanParameter:
        break;
    
      default:
        break;
    }
    this.$emit('input',this.enumParameter);
  }

  /**
   * Metodo per la gestione dell'input di ConstantParameterVue
   */
  onConstantParameterInput(payload: ConstantParameter): void {
    this.constantParameter = payload;
  }

  /**
   * LifeCycle methods
   */

  created() {}
}
</script>

<template>
  <div class="enum-parameter">
    <select name="constantType" id="constantType" v-model="constType">
      <option
        v-for="(constType, index) in allowedValues"
        :key="index"
        :value="constType"
      >{{constType}}</option>
    </select>
    <ConstantParameterVue
      v-show="showModal"
      :type="constType"
      :parameterValue="constantParameter"
      @input="onConstantParameterInput"
    />
    <button class="btn" v-if="!showModal" @click="showModal = true">Aggiungi valore all'enum</button>
    <button class="btn" v-if="showModal" @click="salvaValore">Salva</button>
    <button class="btn delete" v-if="showModal" @click="showModal = false">Chiudi</button>
    <ul>
      <li v-for="(value, index) in enumParameter.values" :key="index">{{value}}</li>
    </ul>
  </div>
</template>