<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { cloneDeep, set } from "lodash";
import ConstantParameterVue from "./ConstantParameter.vue";
import EnumParameterVue from "./EnumParameter.vue";
import {
  ExtendedParameterValue,
  ConstantParameter,
  ConstantParameters,
  EnumParameter,
  ParameterValue,
} from "@/lib/BPSim/Parameters/ParameterValue";

// Mando giù tutta la lista dei parameterValue e restituisco la lista aggiornata
@Component({
  components: { ConstantParameterVue, EnumParameterVue },
})
export default class ParmeterValueVue extends Vue {
  /**
   * Props
   */

  // Array di stringhe dei tipi di ParameterValue utilizzbili
  @Prop() parameterValues!: string[];
  @Prop({ default: () => new Array<ExtendedParameterValue>() })
  value!: ExtendedParameterValue[];

  /**
   * Data
   */

  // Tipo generico Constant, Expression, Distribution, Enum
  type = "";
  newValue: ExtendedParameterValue = {
    type: "",
    parameterValue: {},
  };
  editing = -1;
  editorOpen = false;
  showValues = false;
  rotation = 0;

  /**
   * Computed Prop
   */

  /**
   * ComputedProperty che genera tutti e soli i nomi di ConstantParameter
   * permessi a partire dall'array di parametri possibili passati
   */
  get constantAllowed(): string[] {
    return this.parameterValues.filter((element: string) =>
      Object.keys(ConstantParameters).includes(element)
    );
  }

  get validFor(): string {
    return this.newValue.parameterValue.validFor
      ? this.newValue.parameterValue.validFor
      : "";
  }

  /**
   * Methods
   */

  public toggleEditor(): void {
    this.editorOpen = !this.editorOpen;
  }
  public toggleValues(): void {
    this.rotation = this.rotation > 0 ? 0 : 180;
    this.showValues = !this.showValues;
  }

  /**
   * Metodo per il form di inserimento di un ParameterValue
   */
  public onSelectValueType(): void {
    if (this.newValue.type.includes("Distribution")) {
      this.type = "DistributionParameter";
    } else if (this.newValue.type === "ExpressionParameter") {
      this.type = "ExpressionParameter";
    } else if (this.newValue.type === "EnumParameter") {
      this.type = "EnumParameter";
      this.newValue.parameterValue = {
        values: [] as ParameterValue,
      } as EnumParameter;
    } else if (Object.keys(ConstantParameters).includes(this.newValue.type)) {
      this.type = "ConstantParameter";
      if (this.editing < 0)
        this.newValue.parameterValue = { value: "" } as ConstantParameter;
    } else {
      throw "Error";
    }
  }

  /**
   * Metodo che si occupa della gestione dell'inserimento del validFor
   */
  public onValidForInput(validFor: string): void {
    if (validFor) this.newValue.parameterValue.validFor = validFor;
    else delete this.newValue.parameterValue.validFor;
  }

  /**
   * Metodo per $emit('input', ExtendedParameterValue[])
   */
  public onParameterValueInput(value: ParameterValue): void {
    let extParameterValue: ExtendedParameterValue = set(
      cloneDeep(this.newValue),
      "parameterValue",
      value
    );
    if (this.validFor) {
      extParameterValue.parameterValue.validFor = this.validFor;
    }
  }

  public onValueDelete(idx: number) {
    this.$emit("input", [
      ...this.value.slice(0, idx),
      ...this.value.slice(idx + 1),
    ]);
  }

  public editAt(idx: number) {
    this.newValue = cloneDeep(this.value[idx]);
    this.editing = idx;
    this.onSelectValueType();
  }

  public onSave(): void {
    if (this.editing >= 0) {
      this.$emit("input", [
        ...this.value.slice(0, this.editing),
        this.newValue,
        ...this.value.slice(this.editing + 1),
      ]);
    } else this.$emit("input", [...this.value, this.newValue]);
    this.editing = -1;
    this.newValue = {
      type: "",
      parameterValue: {},
    };
  }

  public onCancel() {
    this.editing = -1;
    this.newValue = {
      type: "",
      parameterValue: {},
    };
  }
}
</script>


<template>
  <div class="value">
    <div class="values__header">
      Values
      <font-awesome-icon
        icon="plus-square"
        v-if="!editorOpen"
        @click="toggleEditor"
      />
      <font-awesome-icon icon="times" v-else @click="toggleEditor" />
    </div>

    <div class="values__items">
      <span class="values__type">Type</span>
      <span class="values__values">ParameterValue</span>
      <font-awesome-icon
        class="values__buttons"
        icon="caret-down"
        @click="toggleValues"
        :rotation="rotation > 0 ? rotation : null"
      />
    </div>

    <ul class="values" v-if="showValues">
      <li v-for="(exValue, index) in value" :key="index">
        <span class="values__type">{{ exValue.type }}</span>
        <ul class="values__values">
          <li
            v-for="attrib in Object.keys(exValue.parameterValue)"
            :key="attrib"
          >
            {{ attrib }}: {{ exValue.parameterValue[attrib] }}
          </li>
        </ul>
        <div class="values__buttons">
          <button class="btn delete" @click="onValueDelete(index)">
            <font-awesome-icon icon="trash-alt" />
          </button>
          <button class="btn" @click="editAt(index)">
            <font-awesome-icon icon="pen" />
          </button>
        </div>
      </li>
    </ul>

    <div class="value__editor" v-if="editorOpen">
      <label for="valid-for">ValidFor (id di un Calendar)</label>
      <input
        type="text"
        name="valid-for"
        id="valid-for"
        :value="validFor"
        @input="onValidForInput($event.target.value)"
      />

      <select
        name="paramValue"
        id="paramValue"
        v-model="newValue.type"
        @change="onSelectValueType"
      >
        <option
          v-for="paramValue in parameterValues"
          :key="paramValue"
          :value="paramValue"
        >
          {{ paramValue }}
        </option>
      </select>

      <ConstantParameterVue
        v-if="type === 'ConstantParameter'"
        @input="onParameterValueInput"
        :parameterValue="newValue.parameterValue"
        :type="newValue.type"
        :notMultiple="true"
      />

      <EnumParameterVue
        v-if="type === 'EnumParameter'"
        :constAllowed="constantAllowed"
        v-model="newValue.parameterValue"
        @input="onParameterValueInput"
      />

      <!-- Distribution, Expression e via dicendo -->
      <div class="value-buttons">
        <button class="btn" @click="onSave">Save</button>
        <button class="btn delete" @click="onCancel">Cancel</button>
      </div>
    </div>
  </div>
</template>
