<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { set, cloneDeep } from "lodash";
import ParameterValueVue from "./ParameterValues/ParameterValue.vue";
import ResultRequestVue from "./ResultType.vue";
import {
  ExtendedParameterValue,
  ParameterValues,
} from "@/lib/BPSim/Parameters/ParameterValue";
import { ResultType } from "@/lib/BPSim/Parameters/ResultRequest";
import { Parameter } from "@/lib/BPSim/Parameters/Parameter";

@Component({
  components: {
    ResultRequestVue,
    ParameterValueVue,
  },
})
export default class ParameterVue extends Vue {
  /**
   * Props
   */

  // Tipi di parameterValues accettati dal parametro
  @Prop({ required: true })
  parameterValues!: ParameterValues[];
  // Oggetto che definisce se è un parametro di input, e quali resultType può avere
  @Prop({ required: true })
  type!: {
    input: boolean;
    output: ResultType[];
  };
  // Array che contiene i nomi dei constant parameter permessi
  @Prop({ required: true })
  constant!: string[];
  // Oggetto di Parameter che deve essere mostrato
  @Prop({
    default: () =>
      new Parameter(
        "",
        new Array<ExtendedParameterValue>(),
        new Array<ResultType>()
      ),
  })
  parameter!: Parameter; // | Parameter[];

  /**
   * Data
   */

  base = false;

  // Variabili di stato di visibilità dei form
  isParameterValueVisibile = false;
  isResultTypeVisibile = false;

  /**
   * Watchers
   */

  /**
   * Watcher che controlla il cambiamento di parameter, resettando i campi di "controllo"
   */
  @Watch("parameter")
  onParameterChange(value: Parameter, oldValue: Parameter) {
    if (value.parameterName !== oldValue.parameterName) {
      if (value.value && value.value.length > 0) {
        for (let i = 0; i < value.value.length; i++) {
          if (value.value[i].parameterValue.validFor) {
            this.base = true;
            break;
          } else {
            this.base = false;
          }
        }
      } else {
        this.base = false;
      }
      this.isResultTypeVisibile = false;
      this.isParameterValueVisibile = false;
    }
  }

  /**
   * Metodi
   */

  /**
   * Metodi per gestire il form di ResultRequestVue
   */
  openResultRequestForm() {
    this.isResultTypeVisibile = true;
  }
  closeResultRequestForm() {
    this.isResultTypeVisibile = false;
  }

  /**
   * Metodo per cancellare un ParameterValue da this.values
   */
  public cancellaValue(index: number): void {
    // Imposto a non trovato il prameterValue di "default" se quello che elimino non ha validFor
    if (!this.values[index].parameterValue.validFor) {
      this.base = false;
    }
    this.$emit(
      "input",
      set(cloneDeep(this.parameter), "value", [
        ...this.values.slice(0, index),
        ...this.values.slice(index + 1),
      ])
    );
  }

  public onValueInput(values: ExtendedParameterValue[]) {
    this.$emit("input", set(cloneDeep(this.parameter), "value", values));
  }

  /**
   * Metodo utilizzato per aggiungere un resultType a resultRequest del
   * corrente parametro
   */
  public onResultRequestUpdate(resultRequest: string[]): void {
    let p = cloneDeep(this.parameter);
    p.resultRequest = resultRequest.map(function (el) {
      return el as ResultType;
    });
    this.$emit("input", p);
  }

  /**
   * Metodo utilizzato per cancellare un elemento di tipo resultType da resultRequest del corrente parametro
   */
  public onDeleteResultType(index: number): void {
    let p: Parameter = cloneDeep(this.parameter);
    if (p.resultRequest) {
      p.resultRequest = [
        ...p.resultRequest.slice(0, index),
        ...p.resultRequest.slice(index + 1),
      ];
    }
    this.$emit("input", p);
  }

  /**
   * Lifecycle hooks
   */

  get values(): ExtendedParameterValue[] {
    return this.parameter.value ? this.parameter.value : [];
  }
}
</script>


<template>
  <div class="parameter">
    <ParameterValueVue
      v-if="type.input"
      :value="values"
      :parameterValues="parameterValues"
      @input="onValueInput"
    />
    <ResultRequestVue
      v-if="type.output && type.output.length > 0"
      :eligible="type.output"
      :resultRequests="parameter.resultRequest"
      @input="onResultRequestUpdate"
    />
  </div>
</template>
