<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import ParameterValueEditor from "@/components/BPSim/Parameter/ParameterValues/ParameterValue.vue";
import { Property } from "@/lib/BPSim/Parameters/Property";
import { cloneDeep } from "lodash";
import {
  ConstantParameters,
  Distributions,
  ParameterValues,
} from "@/lib/BPSim/Parameters/ParameterValue";

@Component({
  components: {
    ParameterValueEditor,
  },
})
export default class PropertyEditor extends Vue {
  @Prop({ default: () => new Array<Property>() }) properties!: Property[];

  private property: Property = new Property("");
  private editing = -1;

  private readonly parameterValues: ParameterValues[] = [
    ...Object.values(ConstantParameters),
    ...Object.values(Distributions),
    "ExpressionParameter",
    "EnumParameter",
  ];

  public editAt(idx: number): void {
    if (idx >= 0 && idx < this.properties.length)
      this.property = cloneDeep(this.properties[idx]);
    else console.error("Indice non valido");
  }

  public deleteAt(idx: number): void {
    if (idx >= 0 && idx < this.properties.length) {
      this.$emit("input", [
        ...this.properties.slice(0, idx),
        ...this.properties.slice(idx + 1),
      ]);
    } else console.error("Indice non valido");
  }
}
</script>

<template>
  <div class="property">
    <ul class="property__list">
      <li
        class="property__item"
        v-for="(prop, index) in properties"
        :key="prop.propertyName"
      >
        <p>Property Name: {{ prop.propertyName }}</p>
        <div class="buttons">
          <button class="btn" @click="editAt(index)">
            <font-awesome-icon icon="pen" />
          </button>
          <button class="btn delete" @click="deleteAt(index)">
            <font-awesome-icon icon="trash-alt" />
          </button>
        </div>
      </li>
    </ul>
    <div class="property__editor">
      <input
        type="text"
        name="propertyName"
        id="propertyName"
        v-model="property.propertyName"
      />
      <ParameterValueEditor
        :parameterValues="parameterValues"
        v-model="property.value"
      />
      <div class="buttons">
        <button class="btn">Salva Property</button>
        <button class="btn delete">Cancella</button>
      </div>
    </div>
  </div>
</template>
