<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { difference } from 'lodash';
import { ResultType } from '@/lib/BPSim/Parameters/ResultRequest';

@Component({
  filters: {
    capitalize(value: string) {
      return value.toUpperCase();
    },
  },
})
export default class ResultRequestVue extends Vue {
  // Array di resultType ammissibili
  @Prop({ required: true }) eligible!: ResultType[];
  @Prop({ default: () => new Array<ResultType>() })
  resultRequests!: ResultType[];

  resultType!: ResultType;

  editorOpen = false;
  showResults = false;

  public toggleEditor(): void {
    this.editorOpen = !this.editorOpen;
  }

  public toggleResults(): void {
    this.showResults = !this.showResults;
  }

  public updateResultType(): void {
    if (this.resultType === undefined) return;
    if (!this.resultRequests.includes(this.resultType as ResultType))
      this.$emit('input', [...this.resultRequests, this.resultType]);
  }

  public onDelete(idx: number): void {
    this.$emit('input', [
      ...this.resultRequests.slice(0, idx),
      ...this.resultRequests.slice(idx + 1),
    ]);
  }

  /**
   * Computed che calcola la differenza tra eligible e resultRequests
   */
  get remaining(): string[] {
    return difference(this.eligible, this.resultRequests);
  }


  created() {
    this.resultType = this.eligible[0];
  }
}
</script>

<template>
  <div class="resultRequest">
    <div class="values__header">
      <h3>ResultRequest</h3>
      <font-awesome-icon
        icon="plus-square"
        v-if="!editorOpen"
        @click="toggleEditor"
      />
      <font-awesome-icon icon="times" v-else @click="toggleEditor" />
    </div>
    <select v-model="resultType" v-if="editorOpen">
      <option v-for="rt in remaining" :key="rt" :value="rt.toLowerCase()">
        {{ rt }}
      </option>
    </select>
    <button v-if="editorOpen" class="btn" @click="updateResultType">
      Aggiungi ResultType
    </button>
    <div class="values__header">
      <h3>ResultRequest attuali</h3>
      <font-awesome-icon
        icon="caret-down"
        @click="toggleResults"
        :rotation="showResults ? 180 : null"
      />
    </div>
    <ul>
      <li v-for="(rt, index) in resultRequests" :key="index">
        <span>{{ rt | capitalize }}</span>
        <button class="btn delete" @click="onDelete(index)">Cancella</button>
      </li>
    </ul>
  </div>
</template>
