.scenario {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__nav{
        flex-direction: row;
        text-align: left;
        border: 1px solid $primary;
        border-radius: 2.5px;

    }

    &__section {
        display: inline-block;
        padding: 10px;
        margin: 5px;

        &:focus {
            outline: none;
        }
        &::-moz-focus-inner{
            border: none;
        }

        &--active {
            border-bottom: 1px solid $primary;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 300px);
        overflow-y: scroll;

        & input {
            width: 100%;
        }

        & textarea {
            width: 100%;
        }
    }

    &__buttons {
        margin: 15px 0;
        width: fit-content;
        height: fit-content;
        & input[type="submit"] {
            width: fit-content;
        }
    }
}
