<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import _, { set, cloneDeep } from "lodash";
import {
  ParametersGroup,
  ControlParameters,
  ResourceParameters,
  PriorityParameters,
  parametersName,
  ParameterGroup,
  controlConst,
  priorityConst,
  resourceConst,
} from "@/lib/BPSim/Parameters/ParameterGroup";
import { Parameter } from "@/lib/BPSim/Parameters/Parameter";
import {
  ConstantParameters,
  ParameterValues,
} from "@/lib/BPSim/Parameters/ParameterValue";
import ParameterVue from "@/components/BPSim/Parameter/Parameter.vue";
import PropertyEditor from "@/components/BPSim/Parameter/Property.vue";
import { Property } from "@/lib/BPSim/Parameters/Property";

@Component({
  components: {
    ParameterVue,
    PropertyEditor,
  },
})
export default class ParameterGroupsVue extends Vue {
  /**
   * Props
   */
  // Valori recuperati dalle api
  @Prop({ required: true }) options!: {
    parameterName: string;
    input: boolean;
    output: any[];
  }[];
  @Prop({ required: true }) value!: ParameterGroup;

  selected: string = "";

  /**
   * Event Methods
   */

  /**
   * Metodo che risponde al segnale input di parameter
   */
  public onSave(parameter: Parameter): void {
    if (parameter.parameterName === "Property") {
      return;
    }
    // Controlla che il parametro abbia un nome valido per TimeParameters
    if (
      !parametersName(this.value.groupName).includes(parameter.parameterName)
    ) {
      console.error(
        "Something went wrong. Invalid parameterName for " +
          this.value.groupName,
        parameter.parameterName
      );
      return;
    }

    const idx = this.value.parameters.findIndex(function (p: Parameter) {
      return p.parameterName === parameter.parameterName;
    });

    if (
      (!parameter.value || parameter.value.length === 0) &&
      (!parameter.resultRequest || parameter.resultRequest.length === 0)
    ) {
      this.$emit(
        "input",
        set(cloneDeep(this.value), "parameters", [
          ...this.value.parameters.slice(0, idx),
          ...this.value.parameters.slice(idx + 1),
        ])
      );
      return;
    }
    // Altrimenti aggiungilo
    if (idx >= 0) {
      this.$emit(
        "input",
        set(cloneDeep(this.value), "parameters", [
          ...this.value.parameters.slice(0, idx),
          parameter,
          ...this.value.parameters.slice(idx + 1),
        ])
      );
    } else {
      this.$emit(
        "input",
        set(cloneDeep(this.value), "parameters", [
          ...this.value.parameters,
          parameter,
        ])
      );
    }
  }

  /**
   * Metodo che resituisce vero se il parametro, di cui riceviamo il nome,
   * è un valido per il gruppo, nel senso che controlla qualora questo sia presente
   * nei parametri di input
   * @param parameterName Nome del parametro da controllare
   *
   * @returns boolean
   */
  public isValidParameter(parameterName: String): boolean {
    return this.options.findIndex(
      (obj) => obj.parameterName === parameterName
    ) >= 0
      ? true
      : false;
  }

  /**
   * Computed Properties
   */

  public get parameterNames(): string[] {
    return parametersName(this.value.groupName);
  }

  get getConstant(): ConstantParameters[] {
    let arr: ConstantParameters[] = new Array<ConstantParameters>();
    switch (this.value.groupName as keyof typeof ParametersGroup) {
      case ParametersGroup.TimeParameters:
        arr = [
          ConstantParameters.NumericParameter,
          ConstantParameters.FloatingParameter,
          ConstantParameters.DurationParameter,
        ];
        break;
      case ParametersGroup.ControlParameters:
        arr = controlConst(this.selected as keyof typeof ControlParameters);
        break;
      case ParametersGroup.CostParameters:
        arr = [
          ConstantParameters.NumericParameter,
          ConstantParameters.FloatingParameter,
        ];
        break;
      case ParametersGroup.PropertyParameters:
        for (const cp of Object.keys(
          ConstantParameters
        ) as (keyof typeof ConstantParameters)[]) {
          arr.push(ConstantParameters[cp]);
        }
        break;
      case ParametersGroup.PriorityParameters:
        arr = priorityConst(this.selected as keyof typeof PriorityParameters);
        break;
      case ParametersGroup.ResourceParameters:
        arr = resourceConst(this.selected as keyof typeof ResourceParameters);
        break;
      default:
        break;
    }
    return arr;
  }

  /**
   * TODO
   */
  get getParameterValues(): ParameterValues[] {
    let arr = new Array<ParameterValues>(...this.getConstant);
    arr.push("ExpressionParameter");
    // Qua aggiungiamo tutte le possibili tipologie di ParameterValues
    // a seconda del gruppo e del nome del parametro
    switch (this.value.groupName as keyof typeof ParametersGroup) {
      case ParametersGroup.TimeParameters:
        break;
      case ParametersGroup.ControlParameters:
        break;
      case ParametersGroup.CostParameters:
        break;
      case ParametersGroup.PropertyParameters:
        break;
      case ParametersGroup.PriorityParameters:
        break;
      case ParametersGroup.ResourceParameters:
        break;
      default:
        break;
    }
    return arr;
  }

  /**
   * Getter per l'indice del parametro correntemente in editing
   */
  get currentEditingParameterIndex(): number {
    return this.options.findIndex(
      (option) => option.parameterName === this.selected
    );
  }

  /**
   * Computed properties che restituisce tutti i parameter di tipo TimeParameters che hanno valori per resultRequest
   * or Value
   * @returns Parameter[]
   */
  get parameters(): Parameter[] {
    if (!this.value.parameters) {
      return [];
    }
    // altrimenti
    return this.value.parameters
      .filter(function (p: Parameter) {
        return (
          (p.resultRequest && p.resultRequest.length > 0) ||
          (p.value && p.value.length > 0)
        );
      })
      .map(function (p) {
        return p;
      });
  }

  /**
   * Metodo che restituisce un oggetto di tipo Parameter della lista parameters
   * dato il parameterName passato, oppure una sotto lista di quella dei parameters,
   * nel caso di Role e Property.
   *
   * TODO
   */
  get parameter(): Parameter | Parameter[] | Property[] {
    if (this.isMulti) {
      return this.parameters.filter(
        (parameter: Parameter) => parameter.parameterName === this.selected
      );
    }

    const idx = this.parameters.findIndex(
      (parameter: Parameter) => parameter.parameterName === this.selected
    );
    return idx >= 0
      ? this.parameters[idx]
      : new Parameter(this.selected, [], []);
  }

  public get type() {
    return {
      input: this.options[this.currentEditingParameterIndex].input,
      output: this.options[this.currentEditingParameterIndex].output,
    };
  }

  /**
   * Computed property che restituisce vero se il parametro accetta più di un
   * Parameter falso altrimenti
   *
   * @returns boolean
   */
  get isMulti(): boolean {
    return (this.value.groupName === "PropertyParameters" &&
      this.selected === "Property") ||
      (this.value.groupName === "ResourceParameters" &&
        this.selected === "Role")
      ? true
      : false;
  }

  /**
   * Gestione di parametri "multipli"
   */
  showList: boolean = true;
  multiIndex: number = -1;

  public toggleShowList(): void {
    this.showList = !this.showList;
  }

  public editMulti(idx: number): void {
    this.multiIndex = idx;
    this.toggleShowList();
  }
}
</script>

<template>
  <div class="parameters-group">
    <div class="parameter-box">
      <ul>
        <li v-for="(name, index) in parameterNames" :key="index" :class="name">
          <input
            type="radio"
            name="parameters"
            :id="name"
            :value="name"
            v-model="selected"
            :disabled="
              options.findIndex((obj) => obj.parameterName === name) >= 0
                ? false
                : true
            "
          />
          <label :for="name">{{ name }}</label>
        </li>
      </ul>
      <PropertyEditor
        v-if="selected === 'Property'"
        :properties="parameter"
        @input="onSave"
      />
      <ParameterVue
        v-else-if="selected && isValidParameter(selected) && !isMulti"
        :constant="getConstant"
        :parameterValues="getParameterValues"
        :type="type"
        :parameter="parameter"
        @input="onSave"
      />
    </div>
  </div>
</template>
