<script lang=ts>
import { Vue, Component, Prop } from "vue-property-decorator";
import Currency from "currency-codes";
import ScenarioParameter from "@/components/BPSim/Modello/Scenario/ScenarioParameter.vue";
import DurationPicker from "@/components/General/DurationPicker.vue";
import ScenarioParameters from "@/lib/BPSim/modello/ScenarioParameters";
import { Parameter } from "@/lib/BPSim/Parameters/Parameter";
import { TimeUnit } from "@/lib/General/TimeUnit";
import { cloneDeep } from "lodash";

@Component({
  components: {
    DurationPicker,
    ScenarioParameter,
  },

  filters: {
    toUpper: (s: string) => {
      return s.toUpperCase();
    },
  },
})
export default class ScenarioParametersVue extends Vue {
  /**
   * Props
   */

  @Prop({
    default: () => {
      return {
        replication: 1,
      };
    },
  })
  scenarioParameters!: ScenarioParameters;

  /**
   * Data
   */

  // Parameter (Start, Warmup, Duration)
  start: Parameter = new Parameter("Start", []);
  duration: Parameter = new Parameter("Duration", []);
  warmup: Parameter = new Parameter("Warmup", []);

  // Variabili per le currenxy
  currencyCodes: string[] = Currency.codes();
  baseCurrency?: string;

  seed: number | null = null;

  public registerDuration(duration: string): void {
    if (duration !== "") {
      delete this.scenarioParameters.baseResutlFrequency;
    } else {
      this.scenarioParameters.baseResutlFrequency = duration;
    }
  }

  public generateSeed(): void {
    this.scenarioParameters.seed = Math.trunc(Math.random() * Math.pow(10, 17));
    this.seed = this.scenarioParameters.seed;
  }

  public cancellaSeed(): void {
    delete this.scenarioParameters.seed;
    this.seed = null;
  }

  public onTimeUnitSelect(): void {
    if (!this.scenarioParameters.baseTimeUnit) {
      delete this.scenarioParameters.baseTimeUnit;
    }
  }

  public onSave(): void {
    console.log(cloneDeep(this.scenarioParameters));
    this.$emit("update:scenarioParameters", cloneDeep(this.scenarioParameters));
  }

  public onScenarioParameterInput(scenarioParameter: Parameter): void {
    switch (scenarioParameter.parameterName) {
      case "Start":
        this.start = scenarioParameter;
        this.scenarioParameters.start = this.start;
        break;
      case "Duration":
        this.duration = scenarioParameter;
        this.scenarioParameters.duration = this.duration;
        break;
      case "Warmup":
        this.warmup = scenarioParameter;
        this.scenarioParameters.warmup = this.warmup;
        break;
      default:
        throw "Error";
    }
  }

  /**
   * Computed
   */

  get timeUnits(): string[] {
    return Object.values(TimeUnit);
  }

  get baseResultFrequencyCumul(): string {
    if (
      this.scenarioParameters &&
      this.scenarioParameters.baseFrequencyCumul === undefined
    ) {
      return "";
    }
    return this.scenarioParameters && this.scenarioParameters.baseFrequencyCumul
      ? "True"
      : "False";
  }

  get traceOutput(): string {
    if (
      this.scenarioParameters &&
      this.scenarioParameters.traceOutput === undefined
    ) {
      return "";
    }
    return this.scenarioParameters && this.scenarioParameters.traceOutput
      ? "True"
      : "False";
  }

  get localScenarioParameters(): ScenarioParameters {
    return this.scenarioParameters
      ? this.scenarioParameters
      : { replication: 1 };
  }
}
</script>


<template>
  <form @submit.prevent class="scenario__parameters">
    <h2>Sccenario Parameters</h2>
    <div class="scenario__form">
      <scenario-parameter
        :parameter="start"
        v-model="start"
        :constantAllowed="['DateTimeParameter']"
        @input="onScenarioParameterInput"
      />
      <scenario-parameter
        :parameter="duration"
        v-model="duration"
        :constantAllowed="[
          'DurationParameter',
          'NumericParameter',
          'FloatingParameter',
        ]"
      />
      <scenario-parameter
        :parameter="warmup"
        v-model="warmup"
        :constantAllowed="[
          'DurationParameter',
          'NumericParameter',
          'FloatingParameter',
        ]"
      />
      <label for="replication">Numero di replicazioni</label>
      <input
        type="number"
        min="1"
        value="1"
        name="replication"
        id="replication"
        v-model.number="localScenarioParameters.replication"
      />
      <label for="seed">Seed</label>
      <div>
        <button class="btn" @click.prevent="generateSeed">Generates seed</button>
        <button class="btn delete" @click.prevent="cancellaSeed">
          Delete Seed
        </button>
        <input
          type="text"
          name="seed"
          id="seed"
          disabled
          :value="[seed !== null ? seed : '']"
        />
      </div>
      <label for="baseTimeUnit">Base TimeUnit</label>
      <select
        name="baseTimeUnit"
        id="baseTimeUnit"
        @change="onTimeUnitSelect"
        v-model="localScenarioParameters.baseTimeUnit"
      >
        <option v-for="(tu, index) in timeUnits" :key="index" :value="tu">
          {{ tu | toUpper }}
        </option>
      </select>
      <label for="currency">Base Currency</label>
      <select
        name="currency"
        id="currency"
        v-model="localScenarioParameters.baseCurrencyUnit"
      >
        <option
          v-for="(currency, index) in currencyCodes"
          :key="index"
          :value="currency"
        >
          {{ currency }}
        </option>
      </select>
      <label for="baseResult">Base Result Frequency</label>
      <DurationPicker @input="registerDuration" />
      <label for="baseResultFrequencyCumul">
        Base Result Frequency Cumul
        <input
          type="checkbox"
          name="baseResultFrequencyCumul"
          id="baseResultFrequencyCumul"
          v-model="localScenarioParameters.baseFrequencyCumul"
        />
      </label>
      <label for="traceOutput">
        Trace Output
        <input
          type="checkbox"
          name="traceOutput"
          id="traceOutput"
          v-model="localScenarioParameters.traceOutput"
        />
      </label>
      <label for="traceFormat">Trace Format</label>
      <input
        type="text"
        name="traceFormat"
        id="traceFormat"
        v-model="localScenarioParameters.traceFormat"
      />
    </div>
    <input type="submit" class="btn" @click.prevent="onSave" value="Salva" />
  </form>
</template>
