<script lang="ts">
// import DurationParameter from "./DurationParameter";
import { Vue, Component, Prop } from "vue-property-decorator";
import ParameterVue from "@/components/BPSim/Parameter/Parameter.vue";
import { Parameter } from "@/lib/BPSim/Parameters/Parameter";

@Component({
  components: {
    ParameterVue,
  },
})
export default class ScenarioParameter extends Vue {
  /**
   * Prop
   */

  // Nomi di ConstantParameter permessi
  @Prop({ required: true })
  constantAllowed!: string[];
  // Parametro da passare giù
  @Prop({ required: true })
  parameter!: Parameter;

  /**
   * Methods
   */

  onParameterInput(payload: Parameter): void {
    if (payload.resultRequest) {
      delete payload.resultRequest;
    }
    const parameter: Parameter = new Parameter(
      this.parameter.parameterName,
      payload.value
    );

    // emetti un segnale che possa essere utilizzato da ScenarioParameter
    this.$emit("input", parameter);
  }
}
</script>

<template>
  <div class="scenario__parameter">
    <h3>{{ parameter.parameterName }}</h3>
    <ParameterVue
      :constant="constantAllowed"
      :parameterValues="constantAllowed"
      :type="{ input: true, output: [] }"
      :parameter="parameter"
      @input="onParameterInput"
    />
  </div>
</template>
