<script lang = "ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Scenario } from "@/lib/BPSim/modello/ScenarioImplementation";

@Component({})
export default class ScenarioCommon extends Vue {
  @Prop({
    default: () => {
      return {
        _id: "",
        name: "",
        description: "",
        author: "",
        version: "",
        inherits: "",
      };
    },
  })
  scenario!: Scenario;

  onSaveScenarioCommon(): void {
    if (!this.scenario.name) {
      console.error("Atteso almeno il nome per lo scenario");
    }
    if (!this.scenario._id) {
      this.scenario._id = `Scenario_${Math.trunc(Math.random() * 1000000)}`;
    }
    let keys = Object.keys(this.scenario) as Array<keyof Scenario>;
    for (let i = 0; i < keys.length; i++) {
      if (!this.scenario[keys[i]]) {
        delete this.scenario[keys[i]];
      }
    }
    this.$emit("update:scenario", this.scenario);
  }
}
</script>


<template>
  <form @submit.prevent class="scenario__basis">
    <div class="scenario__form">
      <label for="id">Id</label>
      <input
        type="text"
        name="id"
        id="id"
        placeholder="Leave this empty for auto generated id"
        v-model="scenario._id"
      />
      <label for="name">Name</label>
      <input type="text" name="name" id="name" v-model="scenario.name" />
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        v-model="scenario.description"
      ></textarea>
      <label for="author">Author</label>
      <input type="text" name="author" id="author" v-model="scenario.author" />
      <label for="version">Version</label>
      <input
        type="text"
        name="version"
        id="version"
        v-model="scenario.version"
      />
      <label for="inherits">Inherit from</label>
      <input
        type="text"
        name="inherits"
        id="inherits"
        v-model="scenario.inherits"
      />
    </div>
    <input
      type="submit"
      class="btn"
      value="Save"
      @click="onSaveScenarioCommon"
    />
  </form>
</template>
