<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { mapGetters } from 'vuex';

@Component({
  computed: {
    ...mapGetters(['getScenari']),
  },
})
export default class Scenari extends Vue {
  editScenario(idScenario: string) {
    this.$router.push({
      name: 'editScenario',
      params: {
        idModello: this.$route.params.idModello,
        idScenario,
      },
    });
  }

  public async deleteScenario(id: string): Promise<void> {
    await this.$store.dispatch('deleteScenario', {
      idModello: this.$route.params.idModello,
      idScenario: id,
    });
  }
}
</script>

<template>
  <ul class="scenari">
    <li class="table-header">
      <div>
        <div>Name</div>
        <div>Id</div>
        <div>Actions</div>
      </div>
    </li>
    <li v-for="scenario in getScenari" :key="scenario._id">
      <div>
        <div>{{ scenario.name }}</div>
        <div>{{ scenario._id }}</div>
        <div class="scenario-buttons">
          <button class="btn delete" @click="deleteScenario(scenario._id)">
            <font-awesome-icon icon="trash-alt" />Delete
          </button>
          <button class="btn edit" @click="editScenario(scenario._id)">
            <font-awesome-icon icon="pen" />Edit
          </button>
        </div>
      </div>
    </li>
  </ul>
</template>
