.parameters-group {
    display: flex;
    flex-direction: column;

    & ul {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: max-content;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            width: max-content;
        }
    }

    & input[type="radio"] {
        display: none;

        &:checked ~ label {
            border-bottom: 1px solid $primary;
        }
    }

    & li label {
        padding: 5px 0;
        margin-bottom: 5px;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    & div.parameter-box {
        display: flex;
        flex-direction: row;

        & .parameter {
            width: 100%;
            height: 100%;
        }
    }

    & header {
        display: flex;
        flex-direction: row;

        & .drop-down {
            width: 1em;
            height: 1em;
            margin-left: 0.2em;
            transition: width 250ms ease-in-out,
                        height 250ms ease-in-out;

            &:hover {
                cursor: pointer;
            }
            &:hover > svg{
                width: 1.1em;
                height: 1.1em;
            }
        }
    }

}