.btn {
    display: inline-block;
    background-color: white;
    border: 0px;
    border-bottom: 1px solid $primary;
    padding: 5px 10px;
    margin: 0 5px;
    transition: background-color 150ms ease-in;
    transition: color 150ms ease-in;
    font-size: 1rem;

    &:hover{
        background-color: $valid;
        color: white;
    }

    &:focus {
        outline: none;
    }

    &.delete {
        &:hover{
            background-color: $delete;
            color: white;
        }
    }
}
