.duration-picker {
    display: flex;

    & label {
        font-size: 1rem;
    }

    & input {
        width: 4em;
        border: 1px solid $primary;
        border-radius: 1px;
        padding: 3px;
    }

    &>div {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
}