.modal {
    &__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(34, 45, 50, 66);
        opacity: 0.6;
        z-index: 1;
    }

    &__form {
        position: fixed;
        align-self: center;
        top: 20px;
        left: 25%;
        width: 50%;
        max-height: calc(100vh - 40px);
        background-color: white;
        z-index: 2;
        border: 2px solid $primary;
        border-radius: 8px;
        overflow-y: auto;
    }
}
