<template>
  <main class="about">
    <h1>What is BPSimaaS?</h1>
    <p>
      BPSimaaS is a service intended to make BPMN model parameterization using
      BPSim as easy as possible.
    </p>
    <p>
      Therefore, other than this web interface, we offer a REST API service for
      which we show a brief explanation.
    </p>
    <h1 id="api">API</h1>
    <p>
      The api in this project are REST WEB API that uses JSON as data format.
      So, it is required that every request to them set “Content-type” header to
      “application/json”.
    </p>
    <p>
      To authenticate a user, this APIs make use of
      <a href="https://jwt.io/">JWT</a>. The only resources that do not use them
      are those realated to authentication, like login and some methods of
      register.
    </p>
    <h1 id="resources">Resources</h1>
    <ul>
      <li><a href="#register">register</a></li>
      <li><a href="#login">login</a></li>
      <li><a href="#models">models</a></li>
      <li><a href="#specific-model">specific model</a></li>
      <li><a href="#parser">parser</a></li>
      <li>
        <a href="#scenario">scenario</a>
        <ul>
          <li><a href="#scenario-collections">scenario collections</a></li>
          <li><a href="#common-scenario">specific scenario</a></li>
        </ul>
      </li>
      <li><a href="#scenario-parameters">scenario parameters</a></li>
      <li>
        <a href="#element-parameters">element parameters</a>
        <ul>
          <li>
            <a href="#element-parameters-collection"
              >element parameters collections</a
            >
          </li>
          <li>
            <a href="#single-element-parameters">single element parameters</a>
          </li>
        </ul>
      </li>
      <li><a href="#download">download</a></li>
    </ul>
    <h2 id="register">Register</h2>
    <p>URL: /register</p>
    <p>Methods:</p>
    <h3 id="get">GET:</h3>
    <p>Output:</p>
    <ul>
      <li>200, Helper message</li>
    </ul>
    <h3 id="post">POST</h3>
    <p>Account registration</p>
    <p>Input: user data used for later acces, for now, email and password</p>
    <p>eg:</p>
    <div class="sourceCode" id="cb1">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"username"</span><span class="fu">:</span> <span class="st">"test"</span><span class="fu">,</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"password"</span><span class="fu">:</span> <span class="st">"test"</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <p>Output:</p>
    <ul>
      <li>201, Registration successful</li>
      <li>409, Credential already in use</li>
    </ul>
    <h3 id="delete">DELETE</h3>
    <p>Delete an account</p>
    <p>Input: email and password</p>
    <p>eg:</p>
    <div class="sourceCode" id="cb2">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"username"</span><span class="fu">:</span> <span class="st">"test"</span><span class="fu">,</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"password"</span><span class="fu">:</span> <span class="st">"test"</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <p>Output:</p>
    <ul>
      <li>204, Account deletion successful</li>
      <li>401, Incorrect password</li>
      <li>410, There’s no user with given email</li>
    </ul>
    <h2 id="login">Login</h2>
    <p>URL: /login</p>
    <h3 id="get-1">GET</h3>
    <p>Retrieve user data except password (for now only email)</p>
    <p>Output:</p>
    <ul>
      <li>200, User data</li>
      <li>404, User not found</li>
    </ul>
    <h3 id="post-1">POST</h3>
    <p>Log in method (this will return a JWT)</p>
    <p>Input: username/email and password</p>
    <p>eg:</p>
    <div class="sourceCode" id="cb3">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"email"</span><span class="fu">:</span> <span class="st">"test@test.com"</span><span class="fu">,</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"password"</span><span class="fu">:</span> <span class="st">"test"</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <p>Output:</p>
    <ul>
      <li><p>404, if no user with given email has been found</p></li>
      <li>
        <p>200, JWT acces and refresh token</p>
        <p>eg:</p>
        <div class="sourceCode" id="cb4">
          <pre
            class="sourceCode json"
          ><code class="sourceCode json"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"access"</span><span class="fu">:</span> <span class="st">"XXXX.YYYYYYYY.ZZZZZZZZ"</span><span class="fu">,</span></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"refresh"</span><span class="fu">:</span> <span class="st">"dsasd.dsadasd.asdasd"</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
        </div>
      </li>
    </ul>
    <h3 id="delete-1">DELETE</h3>
    <p>Log out method (“delete” JWT given as “Bearer-token” )</p>
    <p>Output:</p>
    <ul>
      <li>204, Log out successful</li>
      <li>
        500, Impossible to log out from the given JWT, probably already logged
        out
      </li>
    </ul>
    <p>
      From this point on, every shown endpoint needs that authentication is set
      to Bearer and that a JWT is provided.
    </p>
    <h2 id="models">Models</h2>
    <p>URL: /models</p>
    <p>Methods:</p>
    <h3 id="get-2">GET</h3>
    <p>Output:</p>
    <ul>
      <li>
        <p>200, List of BPMN loaded models</p>
        <p>eg:</p>
        <div class="sourceCode" id="cb5">
          <pre
            class="sourceCode json"
          ><code class="sourceCode json"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"modelli"</span><span class="fu">:</span> <span class="ot">[</span></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>        <span class="fu">{</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>            <span class="dt">"_id"</span><span class="fu">:</span> <span class="st">"&lt;id&gt;"</span><span class="fu">,</span></span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a>            <span class="dt">"nomdeModello"</span><span class="fu">:</span> <span class="st">"&lt;filename&gt;"</span></span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a>        <span class="fu">}</span></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a>        <span class="er">...</span></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a>    <span class="ot">]</span></span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
        </div>
      </li>
    </ul>
    <h3 id="post-2">POST</h3>
    <p>Adds the model provided to the body as from-data with name “modello”</p>
    <p>
      Input: BPMN model. Yells if a model with the same name already exist for
      the current user.
    </p>
    <p>Output:</p>
    <ul>
      <li>
        <p>200, information for the loaded module</p>
        <div class="sourceCode" id="cb6">
          <pre
            class="sourceCode json"
          ><code class="sourceCode json"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"msg"</span><span class="fu">:</span> <span class="st">"Modello aggiunto correttamente"</span><span class="fu">,</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"inserted_id"</span><span class="fu">:</span> <span class="st">"&lt;id&gt;"</span><span class="fu">,</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"nomeMoello"</span><span class="fu">:</span> <span class="st">"&lt;modello-filename&gt;"</span></span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
        </div>
        <p>
          From now on, &lt;modelId&gt; refers to a BPMN model already deployed.
        </p>
      </li>
    </ul>
    <h2 id="specific-model">Specific model</h2>
    <p>URL: /models/&lt;modelId&gt;</p>
    <p>Methods:</p>
    <h3 id="get-3">GET</h3>
    <p>
      This method will return a BPMN model (corresponding to the one with id
      modelId) in xml format, without any extension.
    </p>
    <p>Output:</p>
    <ul>
      <li>200, Content-type: “application/bpmn+xml”</li>
      <li>404, No model found with id modelId</li>
      <li>500, Discrepancy between filesystem and database</li>
    </ul>
    <h3 id="put">PUT</h3>
    <p>Update model</p>
    <p>Output:</p>
    <ul>
      <li>500, errors</li>
      <li>200, update successful</li>
    </ul>
    <h3 id="delete-2">DELETE</h3>
    <p>Delete model with id modelId owned by the owner of the JWT</p>
    <p>Output:</p>
    <ul>
      <li>204, deletion successful</li>
      <li>404, user that owns the JWT doesn’t own a model with given id</li>
      <li>500, internal errors</li>
    </ul>
    <h2 id="parser">Parser</h2>
    <p>/models/&lt;modelId&gt;/parser</p>
    <h3 id="get-4">GET</h3>
    <p>Query the parser for the current (modelId) model</p>
    <p>Output:,</p>
    <p>eg:</p>
    <div class="sourceCode" id="cb7">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb7-2"><a href="#cb7-2" aria-hidden="true" tabindex="-1"></a>    <span class="er">...some</span> <span class="er">metadata...</span><span class="fu">,</span></span>
<span id="cb7-3"><a href="#cb7-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"parameterizable"</span><span class="fu">:</span><span class="ot">[</span></span>
<span id="cb7-4"><a href="#cb7-4" aria-hidden="true" tabindex="-1"></a>        <span class="fu">{</span></span>
<span id="cb7-5"><a href="#cb7-5" aria-hidden="true" tabindex="-1"></a>            <span class="dt">"xpathID"</span><span class="fu">:</span> <span class="er">str</span><span class="fu">,</span></span>
<span id="cb7-6"><a href="#cb7-6" aria-hidden="true" tabindex="-1"></a>            <span class="dt">"input"</span><span class="fu">:</span><span class="ot">[</span></span>
<span id="cb7-7"><a href="#cb7-7" aria-hidden="true" tabindex="-1"></a>                <span class="fu">{</span></span>
<span id="cb7-8"><a href="#cb7-8" aria-hidden="true" tabindex="-1"></a>                    <span class="dt">"groupParameter"</span><span class="fu">:</span> <span class="er">str</span><span class="fu">,</span></span>
<span id="cb7-9"><a href="#cb7-9" aria-hidden="true" tabindex="-1"></a>                    <span class="dt">"parameters"</span><span class="fu">:</span><span class="ot">[</span></span>
<span id="cb7-10"><a href="#cb7-10" aria-hidden="true" tabindex="-1"></a>                        <span class="er">str</span><span class="ot">,</span></span>
<span id="cb7-11"><a href="#cb7-11" aria-hidden="true" tabindex="-1"></a>                        <span class="er">...</span></span>
<span id="cb7-12"><a href="#cb7-12" aria-hidden="true" tabindex="-1"></a>                    <span class="ot">]</span></span>
<span id="cb7-13"><a href="#cb7-13" aria-hidden="true" tabindex="-1"></a>                <span class="fu">}</span><span class="ot">,</span></span>
<span id="cb7-14"><a href="#cb7-14" aria-hidden="true" tabindex="-1"></a>                <span class="er">...</span></span>
<span id="cb7-15"><a href="#cb7-15" aria-hidden="true" tabindex="-1"></a>            <span class="ot">]</span><span class="fu">,</span></span>
<span id="cb7-16"><a href="#cb7-16" aria-hidden="true" tabindex="-1"></a>            <span class="dt">"output"</span><span class="fu">:</span><span class="ot">[</span></span>
<span id="cb7-17"><a href="#cb7-17" aria-hidden="true" tabindex="-1"></a>                <span class="fu">{</span></span>
<span id="cb7-18"><a href="#cb7-18" aria-hidden="true" tabindex="-1"></a>                    <span class="dt">"groupParameter"</span><span class="fu">:</span> <span class="er">str</span><span class="fu">,</span></span>
<span id="cb7-19"><a href="#cb7-19" aria-hidden="true" tabindex="-1"></a>                    <span class="dt">"parameters"</span><span class="fu">:</span><span class="ot">[</span></span>
<span id="cb7-20"><a href="#cb7-20" aria-hidden="true" tabindex="-1"></a>                        <span class="fu">{</span></span>
<span id="cb7-21"><a href="#cb7-21" aria-hidden="true" tabindex="-1"></a>                            <span class="dt">"parameterName"</span><span class="fu">:</span> <span class="er">str</span><span class="fu">,</span></span>
<span id="cb7-22"><a href="#cb7-22" aria-hidden="true" tabindex="-1"></a>                            <span class="dt">"possibleOutputs"</span><span class="fu">:</span><span class="ot">[</span></span>
<span id="cb7-23"><a href="#cb7-23" aria-hidden="true" tabindex="-1"></a>                                <span class="er">str</span><span class="ot">,</span></span>
<span id="cb7-24"><a href="#cb7-24" aria-hidden="true" tabindex="-1"></a>                                <span class="er">...</span></span>
<span id="cb7-25"><a href="#cb7-25" aria-hidden="true" tabindex="-1"></a>                            <span class="ot">]</span></span>
<span id="cb7-26"><a href="#cb7-26" aria-hidden="true" tabindex="-1"></a>                        <span class="fu">}</span></span>
<span id="cb7-27"><a href="#cb7-27" aria-hidden="true" tabindex="-1"></a>                    <span class="ot">]</span></span>
<span id="cb7-28"><a href="#cb7-28" aria-hidden="true" tabindex="-1"></a>                <span class="fu">}</span><span class="ot">,</span></span>
<span id="cb7-29"><a href="#cb7-29" aria-hidden="true" tabindex="-1"></a>                <span class="er">...</span></span>
<span id="cb7-30"><a href="#cb7-30" aria-hidden="true" tabindex="-1"></a>            <span class="ot">]</span><span class="fu">,</span></span>
<span id="cb7-31"><a href="#cb7-31" aria-hidden="true" tabindex="-1"></a>        <span class="fu">}</span><span class="ot">,</span></span>
<span id="cb7-32"><a href="#cb7-32" aria-hidden="true" tabindex="-1"></a>        <span class="er">...</span></span>
<span id="cb7-33"><a href="#cb7-33" aria-hidden="true" tabindex="-1"></a>    <span class="ot">]</span><span class="fu">,</span></span>
<span id="cb7-34"><a href="#cb7-34" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <h2 id="scenario">Scenario</h2>
    <p>
      This resource actually span across two endpoints: Scenario Collenctions
      and Common Scenario.
    </p>
    <h2 id="scenario-collections">Scenario Collenctions</h2>
    <p>URL: /models/&lt;modelId&gt;/scenario</p>
    <p>Methods:</p>
    <h3 id="get-5">GET</h3>
    <p>Output: list of names and ids of scenarios</p>
    <h3 id="post-3">POST</h3>
    <p>Input:scenario as defined in bpmn4bpsim.schemas.Scenario</p>
    <div class="sourceCode" id="cb8">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb8-2"><a href="#cb8-2" aria-hidden="true" tabindex="-1"></a>    <span class="er">_id</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb8-3"><a href="#cb8-3" aria-hidden="true" tabindex="-1"></a>    <span class="er">name</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span> <span class="er">//</span> <span class="er">required</span></span>
<span id="cb8-4"><a href="#cb8-4" aria-hidden="true" tabindex="-1"></a>    <span class="er">description</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb8-5"><a href="#cb8-5" aria-hidden="true" tabindex="-1"></a>    <span class="er">author</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb8-6"><a href="#cb8-6" aria-hidden="true" tabindex="-1"></a>    <span class="er">vendor</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb8-7"><a href="#cb8-7" aria-hidden="true" tabindex="-1"></a>    <span class="er">version</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb8-8"><a href="#cb8-8" aria-hidden="true" tabindex="-1"></a>    <span class="er">inherits</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb8-9"><a href="#cb8-9" aria-hidden="true" tabindex="-1"></a>    <span class="er">created</span> <span class="er">=</span> <span class="er">`datetime`</span><span class="fu">,</span></span>
<span id="cb8-10"><a href="#cb8-10" aria-hidden="true" tabindex="-1"></a>    <span class="er">modified</span> <span class="er">=</span> <span class="er">`datetime`</span><span class="fu">,</span></span>
<span id="cb8-11"><a href="#cb8-11" aria-hidden="true" tabindex="-1"></a>    <span class="er">scenarioParameters</span> <span class="er">=</span> <span class="er">`ScenarioParameters`</span><span class="fu">,</span></span>
<span id="cb8-12"><a href="#cb8-12" aria-hidden="true" tabindex="-1"></a>    <span class="er">elementParameters</span> <span class="er">=</span> <span class="er">`List[ElementParameters]`</span><span class="fu">,</span></span>
<span id="cb8-13"><a href="#cb8-13" aria-hidden="true" tabindex="-1"></a>    <span class="er">vendorExtensions</span> <span class="er">=</span> <span class="er">`List[VendorExtensions]`</span><span class="fu">,</span></span>
<span id="cb8-14"><a href="#cb8-14" aria-hidden="true" tabindex="-1"></a>    <span class="er">calendars</span> <span class="er">=</span> <span class="er">`List[Calendars]`</span></span>
<span id="cb8-15"><a href="#cb8-15" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <p>Output: “personal data” of the just registered scenario</p>
    <h2 id="common-scenario">Specific Scenario</h2>
    <p>URL: /models/&lt;modelId&gt;/scenario/&lt;scenarioId&gt;</p>
    <p>Methods:</p>
    <h3 id="get-6">GET</h3>
    <p>Output:</p>
    <ul>
      <li>200, scenario with id scenarioId</li>
      <li>
        404, if user owning the given JWT doesn’t own a scenario with such id
      </li>
    </ul>
    <h3 id="put-1">PUT</h3>
    <p>Input:scenario such as specified in bpsimclasses.schemas.Scenario</p>
    <p>Output:</p>
    <ul>
      <li>200,</li>
      <li>404, if the user doesn’t own the resources</li>
    </ul>
    <h3 id="delete-3">DELETE</h3>
    <p>Delete a scenario given its id</p>
    <p>Output: - 200</p>
    <pre><code>```JSON
{
    "msg": "...",
    "_id": "&lt;id-scenario&gt;"
}
```</code></pre>
    <ul>
      <li>404, no such resources owned by the user</li>
    </ul>
    <h2 id="scenario-parameters">ScenarioParameters</h2>
    <p>
      URL:
      /models/&lt;modelId&gt;/scenario/&lt;scenarioId&gt;/scenarioparameters
    </p>
    <p>Methods:</p>
    <h3 id="get-7">GET</h3>
    <p>Retrieve ScenarioParameters for the given scenario</p>
    <p>Output:</p>
    <ul>
      <li>200,</li>
      <li>404, no such reources for current user, or model, or scenario</li>
    </ul>
    <h3 id="post-4">POST</h3>
    <p>Method used to add a ScenarioParameters for the specified scenario</p>
    <p>
      Input: ScenarioParameters as defined in
      bpmn4bpsim.schema.ScenarioParameters
    </p>
    <div class="sourceCode" id="cb10">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb10-2"><a href="#cb10-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"start"</span><span class="fu">:</span> <span class="er">`Parameter`</span><span class="fu">,</span></span>
<span id="cb10-3"><a href="#cb10-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"duration"</span> <span class="er">=</span> <span class="er">`Parameter`</span><span class="fu">,</span></span>
<span id="cb10-4"><a href="#cb10-4" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"warmup"</span> <span class="er">=</span> <span class="er">`Parameter`</span><span class="fu">,</span></span>
<span id="cb10-5"><a href="#cb10-5" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"propertyParameters"</span> <span class="er">=</span> <span class="er">`PropertyParameters`</span><span class="fu">,</span></span>
<span id="cb10-6"><a href="#cb10-6" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"baseResultFrequency"</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb10-7"><a href="#cb10-7" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"seed"</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb10-8"><a href="#cb10-8" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"replication"</span> <span class="er">=</span> <span class="er">`int`</span><span class="fu">,</span> <span class="er">//</span> <span class="er">&gt;</span> <span class="er">0</span></span>
<span id="cb10-9"><a href="#cb10-9" aria-hidden="true" tabindex="-1"></a>    <span class="er">//</span> <span class="er">one</span> <span class="er">of</span> <span class="er">['ms'</span><span class="fu">,</span><span class="er">'s'</span><span class="fu">,</span><span class="er">'min'</span><span class="fu">,</span><span class="er">'hour'</span><span class="fu">,</span><span class="er">'day'</span><span class="fu">,</span><span class="er">'year']</span></span>
<span id="cb10-10"><a href="#cb10-10" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"baseTimeUnit"</span> <span class="er">=</span> <span class="er">`TimeUnit`</span><span class="fu">,</span></span>
<span id="cb10-11"><a href="#cb10-11" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"baseCurrencyUnit"</span> <span class="er">=</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb10-12"><a href="#cb10-12" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"baseResultFrequencyCumul"</span> <span class="er">=</span> <span class="er">`bool`</span><span class="fu">,</span></span>
<span id="cb10-13"><a href="#cb10-13" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"traceOutput"</span> <span class="er">=</span> <span class="er">`bool`</span><span class="fu">,</span></span>
<span id="cb10-14"><a href="#cb10-14" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"traceFormat"</span> <span class="er">=</span> <span class="er">`str`</span></span>
<span id="cb10-15"><a href="#cb10-15" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <p>Output:</p>
    <ul>
      <li>
        <p>200</p>
        <div class="sourceCode" id="cb11">
          <pre
            class="sourceCode json"
          ><code class="sourceCode json"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"msg"</span><span class="fu">:</span> <span class="st">"..."</span><span class="fu">,</span></span>
<span id="cb11-3"><a href="#cb11-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"scenarioParameters"</span><span class="fu">:</span> <span class="er">&lt;scenazio-parameters&gt;</span></span>
<span id="cb11-4"><a href="#cb11-4" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
        </div>
      </li>
      <li><p>404, no such scenario (scenarioId) owned by the user/model</p></li>
      <li>
        <p>500, internal error. Or scenario already exists: use PUT instead</p>
      </li>
    </ul>
    <h3 id="put-2">PUT</h3>
    <p>Modify a ScenarioParameters</p>
    <p>Input: Scenario such as bpmn4bpsim.schema.ScenarioParameters</p>
    <p>Output:, - 200</p>
    <pre><code>```JSON
{
    "msg": "...",
    "scenarioParameters": &lt;updated-scenario&gt;
}
```</code></pre>
    <ul>
      <li>404, no such ScenarioParameters</li>
    </ul>
    <h3 id="delete-4">DELETE</h3>
    <p>Delete ScenarioParameters for the given scenario</p>
    <p>Output:</p>
    <ul>
      <li>204, deletion successful</li>
      <li>404, no such resources model/scenario/scenario parameters</li>
    </ul>
    <h2 id="element-parameters">ElementParameters</h2>
    <p>
      This resource, as per Scenario, uses two different endpoint: one to handle
      the ElementParameters collection, and one to handle the single
      ElementParameters.
    </p>
    <h2 id="element-parameters-collection">ElementParameters</h2>
    <p>
      URL: /models/&lt;modelId&gt;/scenario/&lt;scenarioId&gt;/elementparameters
    </p>
    <p>Methods:</p>
    <h3 id="get-8">GET</h3>
    <p>Used to retrieve ElementParameters of a particular scenario</p>
    <p>Output:</p>
    <ul>
      <li>200, list of requested ElementParameters</li>
      <li>404, no such resources for user/model/scenario</li>
    </ul>
    <h3 id="post-5">POST</h3>
    <p>
      This metod will be used to add an ElementParameter to the selected
      Scenario
    </p>
    <p>Input: JSON object as specified in schemas.ElementParameter</p>
    <div class="sourceCode" id="cb13">
      <pre
        class="sourceCode json"
      ><code class="sourceCode json"><span id="cb13-1"><a href="#cb13-1" aria-hidden="true" tabindex="-1"></a><span class="fu">{</span></span>
<span id="cb13-2"><a href="#cb13-2" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"elementRef"</span><span class="fu">:</span> <span class="er">`str`</span><span class="fu">,</span> <span class="er">//</span> <span class="er">required</span></span>
<span id="cb13-3"><a href="#cb13-3" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"parametersId"</span><span class="fu">:</span> <span class="er">`str`</span><span class="fu">,</span></span>
<span id="cb13-4"><a href="#cb13-4" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"parametersGroup"</span><span class="fu">:</span> <span class="er">`List</span><span class="ot">[</span><span class="er">ParametersGroup</span><span class="ot">]</span><span class="er">`</span><span class="fu">,</span></span>
<span id="cb13-5"><a href="#cb13-5" aria-hidden="true" tabindex="-1"></a>    <span class="dt">"vendorExtensions"</span><span class="fu">:</span> <span class="er">`List</span><span class="ot">[</span><span class="er">VendorExtentions</span><span class="ot">]</span><span class="er">`</span></span>
<span id="cb13-6"><a href="#cb13-6" aria-hidden="true" tabindex="-1"></a><span class="fu">}</span></span></code></pre>
    </div>
    <p>Output:</p>
    <ul>
      <li>200, successful operation</li>
      <li>404, no such resources for user/model/scenario</li>
    </ul>
    <h3 id="delete-5">DELETE</h3>
    <p>
      Call this endpoint with this method to delete all ElementParameters of a
      given scenario
    </p>
    <p>Output:</p>
    <ul>
      <li>204, successful deletion of ElementParameters</li>
      <li>404, no such resources user/model/scenario/element parameters</li>
    </ul>
    <h2 id="single-element-parameters">Single ElementParameters</h2>
    <p>
      URL:
      /models/&lt;modelId&gt;/scenario/&lt;scenarioId&gt;/elementparameters/&lt;idElementParameter&gt;
    </p>
    <p>Methods:</p>
    <h3 id="get-9">GET</h3>
    <p>This method return an ElementParameter given its “coordinates”</p>
    <p>Output:</p>
    <ul>
      <li>
        200, research went fine and the selected ElementParameter is returned
      </li>
      <li>404, no such ElementParameter was found</li>
    </ul>
    <h3 id="put-3">PUT</h3>
    <p>Update an ElementParameter</p>
    <p>Input: ElementParameter as defined in schem/ElementParameter</p>
    <p>Output:</p>
    <ul>
      <li>200, successful update</li>
      <li>404, resource to update not found</li>
    </ul>
    <h3 id="delete-6">DELETE</h3>
    <p>Delete a specific ElementParameter</p>
    <p>Output:</p>
    <ul>
      <li>204, successful deletion</li>
      <li>404, no such resource at given “coordinates”</li>
    </ul>
    <h2 id="download">Download</h2>
    <p>URL: /models/&lt;modelId&gt;/download</p>
    <p>Methods:</p>
    <h3 id="post-6">POST</h3>
    <p>
      Given a list of scenarios’ ids will return a model with those scenarios
      attached
    </p>
    <p>
      Input: List[str], scenarios’ id - 200, BPMN model with id modelId and
      selected scenarios - 404, resources not found - 500, internal errors
    </p>
  </main>
</template>

<style scoped>
h2 {
  margin-top: 0.6em;
}

h3 {
  margin-top: 0.6em;
}

ul li {
  list-style-type: square;
  list-style-position: inside;
}

code {
    color: black;
    font-size: .8em;
}
</style>
