<template>
    <Home v-if="!isLogged" />
    <HomeLogged v-else />
</template>

<script>
import Home from '@/components/Template/Home.vue';
import HomeLogged from '@/components/Template/HomeLogged.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'home',
  components: {
    Home,
    HomeLogged
  },
  computed:{
    ...mapGetters([
      'isLogged'
    ])
  }
}
</script>
