<template>
  <main class="login">
      <Login v-bind:nuovo="nuovo"/>
  </main>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/Template/Login.vue';

export default {
  name: 'login',
  props: {
    nuovo: Boolean
  },
  components: {
      Login
  }
}
</script>
