<template>
  <main>
    <header class="title">
      <h1>Model name: {{modelloGetter ? modelloGetter.nomeModello : ''}}</h1>
      <OpzioniModello :idModello="idModello" />
    </header>
    <Scenari/>
  </main>
</template>

<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import OpzioniModello from "@/components/BPSim/Modello/OpzioniModello.vue";
import Scenari from "@/components/BPSim/Modello/Scenario/Scenari.vue";

@Component({
  components: {
    OpzioniModello,
    Scenari
  },
  computed: {
    ...mapGetters(['modelloGetter', 'getScenari'])
  }
})
export default class ModelloView extends Vue {
  @Prop() idModello!: string;

  created() {
    this.$store.dispatch("getModel", { idModello: this.idModello });
  }
}
</script>
