<template>
  <main class="login">
      <Register />
  </main>
</template>

<script>
// @ is an alias to /src
import Register from '@/components/Template/Register.vue';

export default {
  name: 'register',
  components: {
      Register
  }
}
</script>
