<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import ScenarioCommon from "@/components/BPSim/Modello/Scenario/ScenarioCommon.vue";
import ScenarioParametersVue from "@/components/BPSim/Modello/Scenario/ScenarioParameters.vue";
import Calendars from "@/components/BPSim/Calendar/Calendars.vue";
import ElementParametersVue from "@/components/BPSim/Modello/ElementParameters.vue";

import { Scenario } from "@/lib/BPSim/modello/ScenarioImplementation";
import ScenarioParameters from "@/lib/BPSim/modello/ScenarioParameters";
import { ElementParameter } from "@/lib/BPSim/modello/ElementParameter";
import { Calendar } from "@/lib/General/Calendar";

@Component({
  components: {
    ScenarioCommon,
    ScenarioParametersVue,
    Calendars,
    ElementParametersVue,
  },
})
export default class ScenarioVue extends Vue {
  /**
   * Props
   */

  @Prop({ required: true })
  idModello!: string;
  @Prop()
  idScenario?: string | undefined;

  /**
   * Data
   */

  scenario: Scenario = new Scenario("", "");
  action!: "PUT" | "POST";
  // Nome della "card" da visualizzare
  cardName: string = "common";

  /**
   * Methods
   */

  /**
   * Metodo che "attiva", l'elemento del nav passato
   * @param element Elemento da attivare
   * @param cardName Nomde della card che viene attivata, e memorizzata
   */
  switchActive(element: Element, cardName: string) {
    document.querySelectorAll(".scenario__section--active").forEach((elem) => {
      elem.classList.toggle("scenario__section--active");
    });
    element.classList.toggle("scenario__section--active");
    this.cardName = cardName;
  }

  /**
   * Metodo che si occupa della gestione dell'input da ScenarioCommon
   * @param scenario Oggetto di tipo Scenario
   */
  public onScenarioCommonUpdate(scenario: Scenario): void {
    this.scenario = scenario;
    const scenarioParameters = document.querySelector("#scenario-parameters");
    this.switchActive(scenarioParameters!, "scenario-parameters");
  }

  /**
   * Metodo che si occupa della gestione dell'input da ScenarioParameters
   * @param scenarioParameters Oggetto di tipo ScenarioParameters
   */
  public onScenarioParametersUpdate(
    scenarioParameters: ScenarioParameters
  ): void {
    this.scenario.scenarioParameters = scenarioParameters;
    const elementParameters = document.querySelector("#element-parameters");
    this.switchActive(elementParameters!, "element-parameters");
  }

  /**
   * Metodo che si occupa della gestione dell'input da ElementParameters
   * @param elemParameters Oggetto di tipo Array<ElementParameter>
   */
  public onElementParametersSave(elemParameters: ElementParameter[]): void {
    this.scenario.elementParameters = elemParameters;
    const calendar = document.querySelector("#calendars");
    this.switchActive(calendar!, "calendars");
  }
  public onElementParametersUpdate(elemParameters: ElementParameter[]): void {
    this.scenario.elementParameters = elemParameters;
  }

  /**
   * Callback invocata qunado vengono salvati i Calendars
   */
  public onCalendarsSave(): void {
    const c: Calendar[] = this.$store.getters["getCalendars"];
    this.scenario.calendars = c;
  }

  /**
   * Methodo che gestisce il salvataggio dello scenario
   */
  public onSaveScenario(): void {
    this.$store.dispatch("pushScenario", {
      action: this.action,
      idModello: this.idModello,
      scenario: this.scenario,
    });
    this.$router.replace({
      name: "model",
      params: {
        idModello: this.idModello,
      },
    });
  }

  public onClose(): void {
    this.$router.back();
  }

  /**
   * Hooks
   */

  public async created() {
    // Recupera il modello se non presente
    if (this.$store.getters["modelloGetter"] === undefined) {
      await this.$store.dispatch("getModel", { idModello: this.idModello });
    }
    this.$store.dispatch("getParameterizable", this.idModello);

    this.action = "POST";
    // Recupera lo scenario se abbiamo lo scenario nel database
    if (this.idScenario) {
      try {
        await this.$store.dispatch("downloadScenario", {
          idModello: this.idModello,
          idScenario: this.idScenario,
        });
        this.scenario = this.$store.getters["getScenario"];
        this.action = "PUT";
      } catch (e) {
        console.error(e);
      }
    }
  }

  public destroyed() {
    this.$store.commit("removeParameterizable");
  }
}
</script>

<template>
  <main class="scenario">
    <header class="scenario__header">
      <h1>Scenario</h1>
      <div class="scenario-buttons">
        <button class="btn" @click="onSaveScenario">Save</button>
        <button class="btn delete" @click="onClose">Close</button>
      </div>
    </header>
    <nav class="scenario__nav">
      <ul>
        <a
          href="#"
          @click.prevent="switchActive($event.target, 'common')"
          class="scenario__section scenario__section--active"
          id="scenario-common"
          >Scenario</a
        >
        <a
          href="#"
          @click.prevent="switchActive($event.target, 'scenario-parameters')"
          class="scenario__section"
          id="scenario-parameters"
          >ScenarioParameters</a
        >
        <a
          href="#"
          @click.prevent="switchActive($event.target, 'element-parameters')"
          class="scenario__section"
          id="element-parameters"
          >ElementParameters</a
        >
        <a
          href="#"
          @click.prevent="switchActive($event.target, 'calendars')"
          class="scenario__section"
          id="calendars"
          >Calendars</a
        >
      </ul>
    </nav>

    <ScenarioCommon
      v-show="cardName === 'common'"
      :scenario="scenario"
      @update:scenario="onScenarioCommonUpdate"
    />
    <ScenarioParametersVue
      v-show="cardName === 'scenario-parameters'"
      :scenarioParameters="scenario.scenarioParameters"
      @update:scenarioParameters="onScenarioParametersUpdate"
    />
    <!-- ElementParameters -->
    <ElementParametersVue
      v-show="cardName === 'element-parameters'"
      :scenario="scenario"
      :elementParametersP="scenario.elementParameters"
      @update:elementParameters="onElementParametersUpdate"
      @save:elementParameters="onElementParametersSave"
    />
    <!-- Calendars -->
    <Calendars
      v-show="cardName === 'calendars'"
      @save:calendars="onCalendarsSave"
    />
  </main>
</template>
