<template>
  <div @change="getDuration" class="duration">
    <div class="duration__element">
      <label for="years">Years</label>
      <input
        type="number"
        min="0"
        id="years"
        name="years"
        v-model.number="duration.years"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="months">Months</label>
      <input
        type="number"
        min="0"
        id="months"
        name="months"
        v-model.number="duration.months"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="weeks">Weeks</label>
      <input
        type="number"
        min="0"
        id="weeks"
        name="weeks"
        v-model.number="duration.weeks"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="days">Days</label>
      <input
        type="number"
        min="0"
        id="days"
        name="days"
        v-model.number="duration.days"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="hours">Hours</label>
      <input
        type="number"
        min="0"
        id="hours"
        name="hours"
        v-model.number="duration.hours"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="minutes">Minutes</label>
      <input
        type="number"
        min="0"
        id="minutes"
        name="minutes"
        v-model.number="duration.minutes"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="seconds">Seconds</label>
      <input
        type="number"
        min="0"
        id="seconds"
        name="seconds"
        v-model.number="duration.seconds"
        @input="getDuration"
      />
    </div>
    <div class="duration__element">
      <label for="milliseconds">Milliseconds</label>
      <input
        type="number"
        min="0"
        id="milliseconds"
        name="milliseconds"
        v-model.number="duration.milliseconds"
        @input="getDuration"
      />
    </div>
  </div>
</template>

<script lang="ts">
import moment from "moment";
import { Vue, Component, Prop } from "vue-property-decorator";
import { Duration } from "@/lib/General/Duration";

@Component
export default class DurationPicker extends Vue {
  @Prop() durationProps!: string;

  duration: Duration = {
    years: 0,
    months: 0,
    weeks: 0,
    days: 0,
    hours: 0,
    minutes: 0,
    seconds: 0,
    milliseconds: 0
  };

  getDuration() {
    const duration = moment.duration(this.duration).toISOString();
    if (duration !== "POD") {
      this.$emit("input", duration);
    }
    this.$emit("input", "");
  }

  created() {
    if (this.durationProps != undefined) {
      let newDuration = moment.duration(this.durationProps);
      const keys = Object.keys(this.duration) as (keyof Duration)[];
      for (let prop of keys) {
        this.duration[prop] = newDuration.get(prop);
      }
    }
  }
}
</script>
