<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Frequency, RRule, Weekday, WeekdayStr, Options } from "rrule";
import { cloneDeep } from "lodash";
import DatePicker from "vue2-datepicker";
import SelectAndDelete from "@/components/General/SelectAndDelete.vue";
import { ALL_WEEKDAYS } from "rrule/dist/esm/src/weekday";

@Component({
  components: {
    DatePicker,
    SelectAndDelete,
  },
})
export default class Rrule extends Vue {
  @Prop({ required: true }) value!: string;

  readonly monthsNumber: number[] = [
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    18,
    24,
    36,
    48,
  ];
  readonly months = [...this.monthsNumber.slice(0, 11)];
  readonly years = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

  readonly frequencies: { idx: number; name: string }[] = [
    { idx: 0, name: Frequency[0] },
    { idx: 1, name: Frequency[1] },
    { idx: 2, name: Frequency[2] },
    { idx: 3, name: Frequency[3] },
  ];
  readonly dayOfWeek = [0, 1, 2, 3, 4, 5, 6].map(function (day) {
    return new Weekday(day);
  });
  readonly dayOfMonth = [-1, 1, 2, 3, 4, 5]
    .map((i) => this.dayOfWeek.map((day) => day.nth(i)))
    .flat();

  times: number = -1;
  count = 0;
  byWhat: "byDay" | "byDate" = "byDay";

  /**
   * Object to populate from which we produce an RRule
   */
  rruleOptions: Partial<Options> = {
    freq: Frequency.DAILY,
    interval: 1,
    byweekday: new Array<Weekday>(),
    count: 0,
    bymonth: 0,
  };

  /**
   * Metodo per range [start, end]
   * @param start numero iniziale
   * @param end ultimo numero del range
   */
  public range(start: number, end: number): number[] {
    let arr = [];
    for (let i = start; i <= end; i++) {
      arr.push(i);
    }
    return arr;
  }

  public onByWhatChange(): void {
    if (this.byWhat === "byDay") {
      delete this.rruleOptions.bymonthday;
    } else if (this.byWhat === "byDate") {
      delete this.rruleOptions.byweekday;
    }
  }

  /**
   * Metodo che riporta allo stati iniziale il component
   */
  public clean(): void {
    this.rruleOptions = {
      freq: this.rruleOptions.freq,
      interval: 1,
      byweekday: [],
      count: this.rruleOptions.count,
      until: this.rruleOptions.until,
    };
    this.updateRrule();
  }

  /**
   * Metodo per la gestione delle frequency
   */
  public repeat(target: number): void {
    this.times = target;
    if (this.times === 0) {
      delete this.rruleOptions.until;
    } else if (this.times === 1) {
      this.rruleOptions.count = 0;
    } else if (this.times === -1) {
      this.rruleOptions.count = 0;
      delete this.rruleOptions.until;
    } else {
      console.error("Errore sconosciuto in fase di selezione interval.");
      return;
    }
    this.updateRrule();
  }

  public computeRRule(): string {
    return new RRule(this.rruleOptions).toString();
  }

  public updateRrule(): void {
    this.$emit("input", this.computeRRule());
  }

  public created(): void {
    // to handle v-model
    if (this.value && typeof this.value === "string")
      this.rruleOptions = RRule.parseString(this.value);

    this.updateRrule();
    if (this.rruleOptions.byweekday) this.byWhat = "byDay";
    else if (this.rruleOptions.bymonthday) this.byWhat = "byDate";
  }

  get byweekday(): Weekday[] {
    return this.rruleOptions.byweekday
      ? (this.rruleOptions.byweekday as Weekday[])
      : [];
  }
}
</script>

<template>
  <div class="rrule">
    <!--Frequency selector-->
    <label for="freq">Frequenza</label>
    <select name="freq" id="freq" v-model="rruleOptions.freq" @change="clean">
      <option
        v-for="frequence in frequencies"
        :key="frequence.idx"
        :value="frequence.idx"
      >
        {{ frequence.name }}
      </option>
    </select>

    <!--Daily section-->
    <div class="daily" v-if="rruleOptions.freq === 3">
      <!--interval selection-->
      <label for="day">Ogni quanto</label>
      <select
        name="day"
        id="day"
        v-model.number="rruleOptions.interval"
        @change="updateRrule"
      >
        <option value="1">Ogni giorno</option>
        <option v-for="index in range(2, 30)" :key="index" :value="index">
          Ogni {{ index }} giorni
        </option>
      </select>
    </div>

    <!--Weekly section-->
    <div class="weekly" v-else-if="rruleOptions.freq === 2">
      <label for="week">Ogni quanto</label>
      <select
        name="week"
        id="week"
        v-model.number="rruleOptions.interval"
        @change="updateRrule"
      >
        <option :value="1">Ogni settimana</option>
        <option v-for="index in range(2, 26)" :key="index" :value="index">
          Ogni {{ index }} settimane
        </option>
      </select>
      <label for="days">Giorni della settimana</label>
      <select-and-delete
        v-model="rruleOptions.byweekday"
        :options="dayOfWeek"
        :equalsFunction="(d, d2) => d.equals(d2)"
        @input="updateRrule"
      />
    </div>

    <!--Monthly section-->
    <div class="monthly" v-else-if="rruleOptions.freq === 1">
      <label for="monthName">
        Mese:
        <select
          name="monthName"
          id="monthName"
          v-model.number="rruleOptions.interval"
        >
          <option :value="1">Ogni mese</option>
          <option v-for="month in monthsNumber" :key="month" :value="month">
            Ogni {{ month }} mesi
          </option>
        </select>
      </label>
      <label for="byWhat">
        By:
        <select
          name="byWhat"
          id="byWhat"
          v-model="byWhat"
          @change="onByWhatChange"
        >
          <option value="byDay">Day</option>
          <option value="byDate">Date</option>
        </select>
      </label>
      <select-and-delete
        v-if="byWhat === 'byDay'"
        v-model="rruleOptions.byweekday"
        :options="dayOfMonth"
        :equalsFunction="(d, d2) => d.equals(d2)"
        @input="updateRrule"
      />
      <select-and-delete
        v-else-if="byWhat === 'byDate'"
        v-model="rruleOptions.bymonthday"
        :options="range(1, 30)"
        :displayFunction="(x) => x.toString() + '° giorno'"
        @input="updateRrule"
      />
    </div>

    <!--Yearly section-->
    <div class="yearly" v-else-if="rruleOptions.freq === 0">
      <label for="year">
        Ogni:
        <select name="year" id="year">
          <option v-for="(year, idx) in years" :key="idx" value="year">
            {{ year > 1 ? year + " anni" : "anno" }}
          </option>
        </select>
      </label>
      <label for="bymonth">
        Mese:
        <select name="bymonth" id="bymonth" v-model="rruleOptions.bymonth">
          <option v-for="(m, idx) in [1, ...months]" :key="idx" :value="m">
            {{ m }}
          </option>
        </select>
      </label>
      <label for="byWhat">
        By:
        <select
          name="byWhat"
          id="byWhat"
          v-model="byWhat"
          @change="onByWhatChange"
        >
          <option value="byDay">Day</option>
          <option value="byDate">Date</option>
        </select>
      </label>
      <select-and-delete
        v-if="byWhat === 'byDay'"
        v-model="rruleOptions.byweekday"
        :options="dayOfMonth"
        :equalsFunction="(d, d2) => d.equals(d2)"
        @input="updateRrule"
      />
      <select-and-delete
        v-else-if="byWhat === 'byDate'"
        v-model="rruleOptions.bymonthday"
        :options="range(1, 30)"
        :displayFunction="(x) => x.toString() + '° giorno'"
        @input="updateRrule"
      />
    </div>

    <!--Repeat section-->
    <div class="radios">
      <div>
        <input
          type="radio"
          name="repeat"
          id="forEver"
          checked
          @change="repeat(-1)"
        />
        <label for="forEver">Sempre</label>
      </div>
      <div>
        <input type="radio" name="repeat" id="until" @change="repeat(1)" />
        <label for="until">Fino a</label>
      </div>
      <div>
        <input type="radio" name="repeat" id="count" @change="repeat(0)" />
        <label for="count">Quante volte</label>
      </div>

      <!--If times is checked-->
      <label for="countValue" v-if="times === 0">Quante volte</label>
      <input
        type="number"
        name="count"
        id="countValue"
        min="0"
        v-model.number="rruleOptions.count"
        v-if="times === 0"
        @input="updateRrule"
      />

      <!--If until is checked-->
      <label for="until-value" v-if="times === 1">Giorno</label>
      <DatePicker
        v-if="times === 1"
        :input-attr="{ name: 'until-value', id: 'until-value' }"
        type="datetime"
        value-type="YYYY-MM-DD[T]HH:mm:ss"
        v-model="rruleOptions.until"
        @input="updateRrule"
      />
    </div>
    <p>{{ computeRRule() }}</p>
  </div>
</template>

<style lang="scss" scoped>
.yearly,
.monthly,
.weekly {
  display: flex;
  flex-direction: column;

  & label {
    display: inline-block;
  }

  & select {
    display: inline-block;
    width: max-content;
  }
}
</style>
