<template>
  <div class="selectanddelete">
    <div class="selectanddelete__select">
      <select
        name="selectanddelete"
        id="selectanddelete__select"
        v-model="current"
      >
        <option v-for="(option, idx) in filteredOption" :key="idx" :value="idx">
          {{ displayFunction(option) }}
        </option>
      </select>
      <button class="btn" @click.prevent="addItem">
        <font-awesome-icon icon="plus-square"></font-awesome-icon>
      </button>
    </div>
    <ul class="selectanddelete__list">
      <li v-for="(v, idx) in value" :key="idx" class="selectanddelete__item">
        <span class="value">{{ displayFunction(v) }}</span>
        <button class="btn delete" @click.prevent="deleteAt(idx)">
          <font-awesome-icon icon="trash-alt" />
        </button>
      </li>
    </ul>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import { difference, differenceWith, isEqual } from "lodash";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class SelectAndDelete extends Vue {
  // Array di oggetti da aggiornare
  @Prop({ required: true, default: () => new Array<any>() }) value!: any[];
  // Array di possibili opzioni per value
  @Prop({ required: true }) options!: any[];
  // Funzione filter che verrà utilizzate per mostrare le opzioni
  @Prop({
    default: () => {
      return (x: any) => x.toString();
    },
  })
  displayFunction!: (x: any) => string;
  // Funzioni filter che verrà utilizzata per fare options - value
  @Prop({
    default: () => isEqual,
  })
  equalsFunction!: (x: any, y: any) => boolean;

  current: number = 0;

  get filteredOption(): any[] {
    return differenceWith(this.options, this.value, this.equalsFunction);
  }

  public addItem(): void {
    this.$emit("input", [...this.value, this.filteredOption[this.current]]);
  }

  public deleteAt(idx: number): void {
    this.$emit("input", [
      ...this.value.slice(0, idx),
      ...this.value.slice(idx + 1),
    ]);
  }

  public created() {
    if (!(this.value instanceof Array)) {
      this.$emit("input", [this.value]);
    }
  }
}
</script>

<style lang="scss" scoped>
.selectanddelete {
  display: flex;
  flex-direction: column;

  &__list {
    list-style-type: none;
    display: inline-block;
  }
}
</style>
