<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";
import { forceFileDownload } from "../../../lib/General/download";

@Component({
  computed: {
    ...mapGetters(["getScenari"]),
  },
})
export default class DownloadForm extends Vue {
  @Prop({
    required: true,
  })
  idModello!: string;

  selectedIds = new Set<string>();

  public onSelect(value: boolean, scenarioId: string): void {
    if (value) {
      this.selectedIds.add(scenarioId);
    } else {
      if (this.selectedIds.has(scenarioId)) {
        this.selectedIds.delete(scenarioId);
      }
    }
  }

  public async onDownload(): Promise<void> {
    const modello: string | undefined = await this.$store.dispatch(
      "downloadModello",
      {
        idModello: this.idModello,
        scenari: new Array<string>(...this.selectedIds),
      }
    );
    if (modello) {
      forceFileDownload(
        modello,
        this.$store.getters["modelloGetter"].nomeModello,
        "application/bpmn+xml"
      );
    }
    this.close();
  }

  public close(): void {
    this.$emit("closeModal");
  }
}
</script>


<template>
  <form @submit.prevent class="modal__form download">
    <h3>Selecet scenarios</h3>
    <ul class="download__scenarios">
      <li
        v-for="(scenario, index) in getScenari"
        :key="index"
        class="download__scenario"
      >
        <label :for="scenario._id"
          >{{ scenario.name }} ({{ scenario._id }})</label
        >
        <input
          type="checkbox"
          :name="scenario._id"
          :id="scenario._id"
          :value="scenario._id"
          @change="onSelect($event.target.checked, scenario._id)"
        />
      </li>
    </ul>
    <div class="buttons">
      <input
        type="submit"
        value="Confirm"
        class="btn"
        @click.prevent="onDownload"
      />
      <button class="btn delete" @click="close">Close</button>
    </div>
  </form>
</template>
