<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import { mapGetters } from "vuex";
import ElementParameterVue from "./ElementParameter.vue";
import ModalMixin from "@/mixins/modal";
import { Scenario } from "@/lib/BPSim/modello/ScenarioImplementation";
import {
  ElementParameter,
} from "@/lib/BPSim/modello/ElementParameter";
import {
  ParameterGroup,
} from "@/lib/BPSim/Parameters/ParameterGroup";

@Component({
  components: {
    ElementParameterVue,
  },
  computed: {
    ...mapGetters(["getParameterizable"]),
  },
})
export default class ElementParameters extends ModalMixin {
  /**
   * Prop
   */

  // Oggetto di tipo Scenario che
  @Prop({ required: true })
  scenario!: Scenario;

  @Prop({
    default: () => new Array<ElementParameter>(),
  })
  elementParametersP!: ElementParameter[];

  /**
   * Data
   */

  // Indice dell'ElementParameterInput in getParameterizable
  currentElParamIndex: number = -1;
  // Array di ElementParameter
  elementParameters: ElementParameter[] = this.elementParametersP;

  /**
   * Methods
   */

  /**
   * Metodo che attiva il modal che contiene il form per editare un ElementParameter
   * @param index Indice dell'ElementParameters che si desidera editare
   */
  public showElementParametersEditor(index: number): void {
    this.currentElParamIndex = index;
    this.toggleModal();
  }

  /**
   * Metodo che aggiunge l'ElementParameter allo scenario
   *
   * @param elementParameter Oggetto di tipo ElementParameter da aggiungere allo scenario
   */
  public onUpdateElementParameter(elementParameter: ElementParameter): void {
    this.onUpdate(elementParameter);
    this.toggleModal();
  }

  /**
   * Metodo che si occupa di "salvare" gli element parameters
   */
  public onSave(): void {
    this.$emit("save:elementParameters", this.elementParameters);
  }

  public onUpdate(elementParameter: ElementParameter): void {
    const idx = this.elementParametersP.findIndex(
      (el) => el.elementRef === elementParameter.elementRef
    );
    if (idx < 0) {
      this.$emit("update:elementParameters", [
        ...this.elementParametersP,
        elementParameter,
      ]);
    } else {
      this.$emit("update:elementParameters", [
        ...this.elementParametersP.slice(0, idx),
        elementParameter,
        ...this.elementParametersP.slice(idx + 1),
      ]);
    }
  }

  /**
   * Computed
   */

  /**
   * Properti che restituisce l'ElementParameter corrente se l'indice non è -1
   *
   * @returns L'oggetto ElementParameter corrente se presente in negli ElementParameters dello scenario, null altrimenti
   */
  get currentElementParameter(): ElementParameter {
    if (this.scenario.elementParameters) {
      for (const elParam of this.scenario.elementParameters) {
        if (
          elParam.elementRef ===
          this.$store.getters["getParameterizable"][this.currentElParamIndex].id
        ) {
          return elParam;
        }
      }
    }
    return new ElementParameter(
      this.$store.getters["getParameterizable"][this.currentElParamIndex].id,
      new Array<ParameterGroup>()
    );
  }

  /**
   * Hooks
   */

  created() {
    if (this.scenario && this.scenario.elementParameters) {
      this.elementParameters = this.scenario.elementParameters;
    }
  }
}
</script>


<template>
  <form @submit.prevent class="element-parameters">
    <h2>ElementParameters</h2>
    <ul>
      <li v-for="(elemParameter, index) in getParameterizable" :key="index">
        <span class="element__name" v-if="elemParameter.name">
          {{ elemParameter.name }}
        </span>
        <span class="element__id" v-else>({{ elemParameter.id }})</span>
        <button class="btn" @click="showElementParametersEditor(index)">
          Edit
        </button>
        <div
          class="modal__background"
          v-if="index === currentElParamIndex && modalActive"
          @click="toggleModal"
        ></div>
        <ElementParameterVue
          :elementParameterInput="getParameterizable[currentElParamIndex]"
          :elementParameter="currentElementParameter"
          v-if="index === currentElParamIndex && modalActive"
          @update:elementParameter="onUpdateElementParameter"
          @update:closeModal="toggleModal"
        />
      </li>
    </ul>
    <input
      type="submit"
      value="Salva"
      class="btn"
      @submit.prevent="onSave"
      @click="onSave"
    />
  </form>
</template>
