<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { cloneDeep } from "lodash";
import {
  ParameterGroup,
  ParametersGroup,
} from "@/lib/BPSim/Parameters/ParameterGroup";
import { Parameter } from "@/lib/BPSim/Parameters/Parameter";
import {
  ElementParameterInput,
  ElementParameter,
} from "@/lib/BPSim/modello/ElementParameter";
import ParameterGroupVue from "@/components/BPSim/ParametersGroup/ParameterGroups.vue";

@Component({
  components: {
    ParameterGroupVue,
  },
})
export default class ElementParameterVue extends Vue {
  /**
   * Props
   */

  @Prop({ required: true })
  elementParameterInput!: ElementParameterInput;

  @Prop({ required: true })
  elementParameter!: ElementParameter;

  /**
   * Data
   */

  /**
   * Oggetto di tipo ElementParameter su cui il componente lavorerà
   * e che verrà emesso "in alto", a cui associamo, in fase di creazione,
   * elementParameter, oggetto di tipo ElementParameter, realizzato in un
   * precedente momento
   */
  elemParameter: ElementParameter = cloneDeep(this.elementParameter);

  show: boolean = false;
  selected = "";

  /**
   * Methods
   */

  /**
   * Metodo che si occupa della visualizzazione del component dei parametri
   */
  public toggleShow(groupName: ParametersGroup): void {
    this.show = !this.show;
    if (this.selected === groupName) this.selected = "";
  }

  /**
   * Metodo per la gestione dei ParametersGroup
   */

  public onParameterUpdate(pg: ParameterGroup): void {
    const cpIndex = this.elemParameter.parametersGroup.findIndex(function (p) {
      return p.groupName === pg.groupName;
    });
    if (cpIndex < 0) {
      this.elemParameter.parametersGroup = [
        ...this.elemParameter.parametersGroup,
        ParameterGroup.fromPartial(pg),
      ];
    } else {
      this.elemParameter.parametersGroup = [
        ...this.elemParameter.parametersGroup.slice(0, cpIndex),
        pg,
        ...this.elementParameter.parametersGroup.slice(cpIndex + 1),
      ];
    }
  }

  get filterGroupName(): string[] {
    const ep = this.elementParameterInput;
    return Object.keys(ParametersGroup).filter(function (groupName: string) {
      return (
        ep.parametersGroup.findIndex(function (p) {
          return p.groupName === groupName;
        }) >= 0
      );
    });
  }

  get options(): any[] {
    return this.elementParameterInput.parametersGroup.find(
      (p) => p.groupName === this.selected
    )!.parameters;
  }

  get parameterGroup(): ParameterGroup {
    const s = this.selected as ParametersGroup;
    const pg = this.elemParameter.parametersGroup.find(
      (p: ParameterGroup) => p.groupName === s
    );
    return pg ? pg : new ParameterGroup(s, new Array<Parameter>());
  }

  /**
   * Emitters
   */

  /**
   * Metodo per emettere ElementParameter
   */
  public onSaveElementParameter(): void {
    this.$emit("update:elementParameter", this.elemParameter);
  }

  /**
   * Metodo utilizzato per segnalare la chiusura del modal, senza effettuare salvataggi
   */
  public onCancelClick(): void {
    this.$emit("update:closeModal");
  }
}
</script>


<template>
  <div class="element-parameter modal__form">
    <header class="element-parameter__header">
      <div class="title">
        <h3>
          {{ elementParameterInput.name }}
        </h3>
        <span>({{ elementParameterInput.id }})</span>
      </div>
      <!-- Possibile luogo per bottni per salvare -->
      <div class="buttons">
        <input
          type="submit"
          value="Salva"
          @submit.prevent="onSaveElementParameter"
          @click="onSaveElementParameter"
          class="btn"
        />
        <button class="btn delete" @click="onCancelClick">Cancella</button>
      </div>
    </header>

    <div
      class="element-parameter__parameters"
      v-for="groupName in filterGroupName"
      :key="groupName"
    >
      <header>
        <label :for="groupName" class="drop-down">
          {{ groupName }}
          <font-awesome-icon
            icon="caret-down"
            :rotation="selected === groupName ? 180 : null"
          />
        </label>
        <input
          type="radio"
          :id="groupName"
          :value="groupName"
          v-model="selected"
          name="parameterGroups"
          @click="toggleShow(groupName)"
        />
      </header>
      <ParameterGroupVue
        v-if="selected === groupName"
        :options="options"
        @input="onParameterUpdate"
        :value="parameterGroup"
      />
    </div>
  </div>
</template>
