<template>
  <div class="opzioni-modello">
    <div
      class="modal__background"
      v-if="modalActive"
      @click="toggleModal"
    ></div>
    <DownloadForm
      :idModello="idModello"
      v-if="modalActive"
      @closeModal="toggleModal"
    />
    <button class="btn" @click="aggiungiScenario">Add scenario</button>
    <!--<button class="btn">Simula...</button>-->
    <button class="btn" @click="toggleModal">Download</button>
    <button class="btn" @click="editModel">Edit</button>
  </div>
</template>

<script lang='ts'>
import { Component, Prop } from "vue-property-decorator";
import ModalMixin from "@/mixins/modal";
import DownloadForm from "@/components/BPSim/Modello/DownloadForm.vue";

@Component({
  components: {
    DownloadForm,
  },
})
export default class OpzioniModello extends ModalMixin {
  @Prop() idModello!: string;

  aggiungiScenario() {
    this.$router.push({
      name: "createScenario",
      params: {
        idModello: this.idModello,
      },
    });
  }

  public editModel() {
    this.$store.commit("CREATE_MODELER", false);
  }
}
</script>
