<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import Datepicker from "vue2-datepicker";
import rrule from "@/components/General/rrule.vue";
import "vue2-datepicker/index.css";
import { Calendar, VEvent } from "@/lib/General/Calendar";
import { cloneDeep } from "lodash";

@Component({
  components: {
    rrule,
    Datepicker,
  },
})
export default class CalendarEditor extends Vue {
  @Prop({ required: true }) value!: Calendar;
  calendar: Calendar = new Calendar();

  public addCalendar(): void {
    if (this.calendar.name) {
      this.$emit("input", this.calendar);
      this.close();
    } else {
      console.error("Must provide a name for calendar");
    }
  }

  public close(): void {
    this.$emit("close");
  }

  public get event(): VEvent {
    return this.calendar.calendar.event[0];
  }

  public set event(event: VEvent) {
    this.calendar.calendar.event[0] = event;
  }

  public get rrule(): string {
    return this.calendar.calendar.event[0].rrule;
  }

  public set rrule(rrule: string) {
    this.calendar.calendar.event[0].rrule = rrule;
  }

  public created(): void {
    this.calendar = cloneDeep(this.value);
  }
}
</script>


<template>
  <form @submit.prevent="addCalendar" class="calendars__form">
    <h1>Edita Calendar</h1>
    <label for="id">Id</label>
    <input
      type="text"
      name="id"
      id="id"
      placeholder="Lascia vuoto per autogenerazione id"
      v-model="calendar.id"
    />
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" v-model="calendar.name" />
    <label for="dtstamp">Dtstamp</label>
    <Datepicker
      :input-attr="{ name: 'dtstamp', id: 'dtstamp' }"
      type="datetime"
      value-type="YYYYMMDD[T]HHmmss"
      v-model="event.dtstamp"
      placeholder="Lascia vuoto per ora UTC"
    />
    <label for="dtstart">Dtstart</label>
    <Datepicker
      :input-attr="{ name: 'dtstart', id: 'dtstart' }"
      type="datetime"
      value-type="YYYYMMDD[T]HHmmss"
      v-model="event.dtstart"
    />
    <label for="dtend">Dtend</label>
    <Datepicker
      :input-attr="{ name: 'dtend', id: 'dtend' }"
      type="datetime"
      value-type="YYYYMMDD[T]HHmmss"
      v-model="event.dtend"
    />
    <rrule v-model="rrule" />
    <div class="buttons">
      <input
        type="submit"
        class="btn"
        @click.prevent="addCalendar"
        value="Salva"
      />
      <button class="btn delete" @click.prevent="close">Chiudi</button>
    </div>
  </form>
</template>
