<template>
  <div class="calendars">
    <h2>
      Calendars
      <span><font-awesome-icon icon="plus-square" @click="toggleModal" /></span>
    </h2>
    <!-- Lista di calendar, possibilmente riducibile -->
    <ul class="calendars__list" v-if="calendars.length > 0">
      <li v-for="(calendar, index) in calendars" :key="index">
        {{ calendar.name }}
        <button class="btn" @click="editAt(index)">Modifica</button>
        <button class="btn delete" @click="deleteCalendar">Elimina</button>
      </li>
    </ul>
    <div
      class="modal__background"
      @click="toggleModal"
      v-if="modalActive"
    ></div>
    <CalendarForm
      class="modal__form"
      v-if="modalActive"
      :value="nuovoCalendar"
      @close="onClose"
      @input="saveCalendar"
    />
  </div>
</template>


<script lang="ts">
import { Vue, Component, Mixins, Prop } from "vue-property-decorator";
import Datepicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import modalMixin from "@/mixins/modal.ts";
import CalendarForm from "@/components/BPSim/Calendar/CalendarForm.vue";
import { Calendar } from "@/lib/General/Calendar";

@Component({
  components: {
    CalendarForm,
  },
})
export default class Calendars extends Mixins(modalMixin) {
  nuovoCalendar: Calendar = new Calendar();

  onClose() {
    this.toggleModal();
    this.nuovoCalendar = new Calendar();
  }

  deleteCalendar(idCalendar: number) {
    this.$store.dispatch("deleteCalendar", { id: idCalendar });
  }

  saveCalendar(calendar: Calendar) {
    this.$store.dispatch("saveCalendar", calendar);
    this.$emit("save:calendars");
  }

  editAt(calendar: number) {
    this.nuovoCalendar = this.calendars[calendar];
    this.toggleModal();
  }

  get calendars(): Calendar[] {
    return this.$store.getters["getCalendars"];
  }
}
</script>
