.modal-form {
    & form {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;

        & label {
            padding: 10px 0 15px;
            font-size: 1.2rem;
        }

        & .mx-input-wrapper {
            width: max-content;
        }

        & input {
            align-self: center;
            border: none;
            border-bottom: 1px solid $primary;
            font-size: 1rem;
        }
    }

    & .rrule {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;

        & input {
            width: fit-content;
        }

        & input, & select {
            margin-bottom: 15px;
        }

        & .radios {
            width: fit-content;

            & label {
                margin-left: 15px;
            }
        }
    }

}

.calendars {
    &__form {
        display: flex;
        flex-direction: column;
        padding: 20px;

        & h1 {
            margin-bottom: 0.8em;
        }

        & input[type="text"] {
            width: 100%;
        }

        & input[type="submit"] {
            width: fit-content;
        }

        & .radios {
            & div>label,
            & div>input[type="radio"] {
                cursor: pointer;
            }
        }

        & .buttons {
            margin: 1em auto 0;
        }
    }
}