.download {
    padding: 5px;

    &>h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: .5em;

        border-bottom: 1px solid $primary;
    }

    &__scenarios {
        display: flex;
        flex-direction: column;
    }

    &__scenario {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & label {
            overflow: hidden;
        }

        & input {
            margin: 0;
        }
    }
}
