.element-parameters {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    &>ul {
        display: flex;
        flex-direction: column;
        height: calc(80vh - 220px);
        overflow-y: scroll;
        margin: 10px 0;
    }

    & li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & input[type="submit"] {
        width: fit-content;
    }
}

.element-parameter {
    z-index: 2;

    &__header {
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-bottom: 10px;

        color: white;
        background-color:#234228;

        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & .title {
            display: flex;
            flex-direction: column;

            & h3 {
                margin: 0;
                padding-bottom: 5px;
            }
        }

        & .buttons {
            margin-top: 5px;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        & .btn {
            box-shadow: 2px 2px $primary;
        }
    }

    &__parameters {
        padding: 15px;

        & input[type="radio"] {
            display: none;
        }
    }
}
