.parameter {
    & .values {
        width: 100%;
        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 5px 0;

            & svg {
                margin: 0px 5px;

                &:hover {
                    cursor: pointer;
                    width: 1.1em;
                    height: 1.1em;
                }
            }
        }

        & li {
            width: 100%;
            padding: 0;
            margin: 0;
        }

        &__items {
            display: flex;
            justify-content: space-between;
            width: 100%;

        }

        &__type,
        &__values {
            display: inline-block;
            margin: 5px;
            flex-grow: 2;

        }

        &__buttons {
            display: inline-block;
            margin: 0;
            padding: 0;
            flex-grow: 1;
            
            & button {
                width: fit-content;
                margin: 0;
                padding: 5px;
            }
        }
    }
}

