.scenario{
    &__parameters {
        display: flex;
        padding-bottom: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;

        & label {
            width: fit-content;
            margin-top: 10px;
        }

        & select {
            width: fit-content;
        }


        & .btn {
            width: fit-content;
            align-self: center;
        }
    }

    &__parameter {
        height: fit-content;
    }

    & input[type="submit"] {
        align-self: start;
        width: fit-content;
    }
}
