.scenari {
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #BABABA;

        &:last-child {
            border-bottom: none;
        }

        &.table-header {
            flex-direction: row;
            border-bottom: 1px solid $primary;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        &>div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &>div {
                width: calc(74% / 2);
                text-align: left;

                &:nth-child(3) {
                    width: 15%;
                }
            }
        }
    }

    & .scenario-buttons {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 15%;
    }
}
