.scenario {
    &__basis {
        display: flex;
        flex-direction: column;

        & label{
            width: fit-content;
            margin-top: 10px;
        }

        & textarea {
            resize: none;
        }

        & input {
            width: 100%;
        }

        & input[type="submit"] {
            width: fit-content;
        }
    }

}