<template>
  <div class="add-model">
    <form @submit.prevent="inviaModello" class="add-model__form">
      <label for="modello">Add new model</label>
      <input
        type="file"
        name="modello"
        id="modello"
        v-on:change="caricaModello"
      />
      <span v-if="modello != null">{{ modello.name || "" }}</span>
      <input
        class="btn"
        type="submit"
        value="Send"
        @click.prevent="sendModel"
        @submit.prevent="sendModel"
      />
    </form>
    <button class="btn" @click="newModel">New</button>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class AddModel extends Vue {
  modello: Blob | null = new Blob();

  public caricaModello(event: Event) {
    if (event && event.target) {
      const target = event.target as HTMLInputElement;
      if (target.files) {
        this.modello = target.files.item(0);
      }
    }
  }

  public async sendModel() {
    if (this.modello) {
      let formData = new FormData();
      formData.append("modello", this.modello);
      const request = this.axios.post(
        `${this.$store.getters["getApiUrl"]}/models`,
        formData,
        {
          headers: {
            ...this.$store.getters["authHeader"],
            "Content-Type": "multipart/form-data",
          },
        }
      );
      this.$store.commit("pendingRequest");
      try {
        const response = await request;
        this.$store.commit("postModelUpdate", {
          _id: response.data.inserted_id,
          nomeModello: response.data.nomeModello,
        });
        this.$store.commit("requestCompleted");
      } catch (error) {
        this.$store.commit("requestError");
      }
    }
  }

  public newModel() {
    this.$store.commit("CREATE_MODELER");
  }
}
</script>
