<template>
    <main>
        <h1 class="title">BPSimaaS</h1>
        <h2>Welcome to BPSimaaS</h2>
        <p>This service will allow you to parameterize BPMN model using BPSim standar in a guided fashion.</p>
        <p></p>
    </main>
</template>
