<template>
  <main>
    <h1>TODO</h1>
    <p>Here will be good a panel to handle user data.</p>
    <AddModel />
    <h2>Models</h2>
    <ul class="modelli">
      <li v-for="model in getModels" v-bind:key="model._id">
        {{ model.nomeModello }}
        <div>
          <router-link
            class="btn"
            :to="{ name: 'model', params: { idModello: model._id } }"
          >
            <font-awesome-icon icon="project-diagram" />Go to Model
          </router-link>
          <button class="btn delete" @click="deleteModel(model._id)">
            <font-awesome-icon icon="trash-alt" />Delete
          </button>
        </div>
      </li>
    </ul>
  </main>
</template>

<script>
import Component from 'vue-class-component';
import Vue from 'vue';
// import { Component, Vue } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import AddModel from './AddModel.vue';

@Component({
  components: {
    AddModel,
  },
  computed: {
    ...mapGetters(['getModels', 'authHeader', 'getApiUrl']),
  },
  mounted() {
    this.$store.dispatch('downloadModels');
  },
})
export default class HomeLogged extends Vue {
  async deleteModel(idModello) {
    const request = this.axios.delete(`${this.getApiUrl}/models/${idModello}`, {
      headers: this.authHeader,
    });
    this.$store.commit('pendingRequest');
    try {
      await request;
      this.$store.commit('deleteModelSuccess', { _id: idModello });
      this.$store.commit('requestCompleted');
    } catch (err) {
      console.log(err);
    }
  }
}
</script>
