<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class LoginComponent extends Vue {
  @Prop({ default: false }) nuovo!: boolean;

  email = "";
  password = "";

  public async login() {
    await this.$store.dispatch("login", {
      email: this.email,
      password: this.password,
    });
    this.$router.push({
      name: "home",
    });
  }
}
</script>

<template>
  <div class="login">
    <div v-if="nuovo" class="welcome">
      Registrazione effettuata con successo!. Ora puoi accedere al nostro
      servizio.
    </div>
    <form @submit.prevent="login">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" v-model="email" />
      <label for="passw">Password</label>
      <input type="password" name="passw" id="passw" v-model="password" />
      <input type="submit" value="Log In" />
    </form>
  </div>
</template>
