<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { mapGetters } from 'vuex';

@Component({
  computed: {
    ...mapGetters(['isLogged']),
  }
})
export default class Navbar extends Vue {
  public async logout() {
    try {
      await this.$store.dispatch("logout");
      if (this.$route.path !== '/') {
        this.$router.push({ path: "/" });
      }
    } catch(err) {
      console.log(err);
    }
  }
}
</script>

<template>
  <nav class="nav">
    <h1>BPSimaaS</h1>
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/about">About</router-link>
      </li>
      <li v-if="!isLogged">
        <router-link :to="{ name: 'login', params: {nuovo: false} }">Log In</router-link>
      </li>
      <li v-if="!isLogged">
        <router-link to="/register">Register</router-link>
      </li>
      <li v-if="isLogged">
        <a href="#" @click.prevent="logout">Log Out</a>
      </li>
    </ul>
  </nav>
</template>
