<template>
  <div class="login">
    <form @submit.prevent="register">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" v-model="email">
      <label for="passw">Password</label>
      <input type="password" name="passw" id="passw" v-model="password">
      <input type="submit" value="Log In">
    </form>
  </div>
</template>

<script>
export default {
  name: 'Register',
  props: {
    msg: String
  },
  data(){
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    register(){
      this.axios.post('http://127.0.0.1:5000/register',{
        email: this.email,
        password: this.password
      })
        .then((response)=>{
          if (response.status === 201){
            this.$router.push({name:'login', params:{nuovo:true}});
          }
        })
        .catch( (error) => {
          console.log(error.response.data);
        })
    }
  }
}
</script>