<template>
  <div id="app" v-if="!editorOpen">
    <Navbar />
    <router-view />
  </div>
  <Editor v-else />
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Navbar from "@/components/Template/Navbar.vue";
import Editor from "@/components/Editor/Editor.vue";
import { mapGetters } from "vuex";

@Component({
  components: {
    Navbar,
    Editor,
  },
  computed: { ...mapGetters(["editorOpen"]) },
})
export default class App extends Vue {}
</script>
