/* Variabili */
@import 'General/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#app{
    width: 100%;
    background-color: white;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p{
    background-color: inherit;
    width: fit-content;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 10px;
}

form {
    display: flex;
    width: 960px;
    margin: 0 auto;
    flex-direction: column;
}

form input {
    margin: 0 auto 10px;
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

a {
    text-decoration: none;
    color: $secondary;
}

label {
    font-size: 1.2rem;
}

main {
    padding: 20px 0;
}

/* General */
@import 'General/commons';
@import 'General/modal';
@import 'General/duration_picker';
@import 'General/flex';

/* Template */
@import 'Template/nav';
@import 'Template/home';
@import 'Template/home_logged';

/* Views */
@import 'views/scenario';

/* Components */
@import 'components/opzioni_modello';
@import 'components/scenari';
@import 'components/scenario_common';
@import 'components/scenario_parameters';
@import 'components/calendars';
@import 'components/element_parameters';
@import 'components/parameter';
@import 'components/ParameterValue/constant';
@import 'components/ParametersGroup/parameters_group';
@import 'components/download';
